<div class="register_term">
        <p>회원가입약관</p>
        <textarea readonly>
덕천제일교회 약관

제 1 조 (목적) 

이 약관은 덕천제일교회(이하 "교회"라 한다)가 운영하는 www.dcjeil.net(이하 "사이트"라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 있어 사이트와 이용자의 권리·의무 및 책임사항을 규정함을 목적으로 합니다. 


제 2 조 (정의) 

1) "사이트" 란 교회가 인터넷 (관련)서비스를 이용자에게 제공하기 위하여 컴퓨터등 정보 통신설비를 이용하여 구축한 www.dcjeil.net 홈페이지를 말합니다. 
2) "이용자"란 "사이트"에 접속하여 이 약관에 따라 "사이트"가 제공하는 서비스를 받는 회원 및 비회원을 말합니다. 
3) "회원"이라 함은 "사이트"에 개인정보를 제공하여 회원등록을 한 자로서, "사이트"의 정보를 지속적으로 제공받으며, "사이트"가 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다. 
4) "비회원"이라 함은 회원에 가입하지 않고 "사이트"가 제공하는 서비스를 이용하는 자를 말합니다. 
5) 위에서 정하는 것외의 용어의 정의는 관계법령 및 교회가 정하는 바에 의합니다. 


제 3 조 (약관의 명시와 개정) 

1) "사이트"는 약관의 규제등에 관한법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진 등에 관한 법률, 방문판매등에 관한법률, 소비자보호법등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다. 
2) "사이트"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 사이트의 초기화면에 그 적용일자 7일이전부터 적용일자 전일까지 공지합니다. 
3) "사이트"가 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정전의 약관조항이 그대로 적용됩니다. 단, 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 개정약관의 공지기간내에 '사이트"에 송신하여 "사이트"의 동의를 받은 경우에는 개정약관 조항이 적용됩니다. 
4) 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 정부가 제정한 관계법령 및 관례에 따릅니다. 

제 4 조 (서비스의 내용) 

"사이트"는 다음과 같은 서비스를 제공합니다. 
1) 커뮤니티 서비스 
2) 컨텐츠 서비스 

제 5 조 (서비스의 중단) 

1) "사이트"는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신의 두절등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다. 
2) 서비스 중단의 경우에 "사이트"는 제8조에 정한 방법으로 이용자에게 사전 통지합니다. 단, "사이트"가 통제할 수 없는 사유로 인한 서비스의 중단 (시스템 관리자의 고의, 과실이 없는 디스크 장애, 시스템 다운 등)으로 인하여 사전 통지가 불가능한 경우에는 그러하지 아니합니다.  

제 6 조 (회원가입) 

이용자는 "사이트"가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다. 
"사이트"는 회원으로 가입할 것을 신청한 이용자 중 다음 각호에 해당하지 않는 한 회원등록을 허락합니다. 

1) 가입신청자가 이 약관 제7조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 회원자격 상실후 3년이 경과한 자로서 "사이트"의 회원 재가입 승낙을 얻은 경우에는 예외로 한다. 
2) 등록 내용에 허위, 기재누락, 오기가 있는 경우 
3) 기타 회원으로 등록하는 것이 "사이트"의 기술상 현저히 지장이 있다고 판단되는 경우 
4) 회원가입계약의 성립 시기는 "사이트"의 승낙이 회원에게 도달한 시점으로 합니다. 
5) 회원은 등록사항에 변경이 있는 경우, 즉시 전자우편 기타 방법으로 "사이트"에 대하여 그 변경사항을 알려야 합니다. 

제 7 조 (회원 탈퇴 및 자격 상실 등) 

회원은 "사이트"에 언제든지 이메일 혹은 회원정보수정 링크를 통해서 탈퇴를 요청할 수 있으며 "사이트"는 즉시 회원탈퇴를 처리합니다. 

회원이 다음 각호의 사유에 해당하는 경우, "사이트"는 회원자격을 제한 및 정지시킬 수 있습니다. 
1) 가입 신청시에 허위 내용을 등록한 경우 
2) 다른 사람의 "사이트" 이용을 방해하거나 그 정보를 도용하는 등 사이트 운영질서를 위협하는 경우 
3) "사이트"를 이용하여 법령과 이 약관이 금지하거나 공서양속(公序良俗)에 반하는 행위를 하는 경우 
4) "사이트"가 회원 자격을 제한·정지 시킨후, 동일한 행위가 2회이상 반복되거나 30일이내에 그 사유가 시정되지 아니하는 경우 
5) 타인의 ID와 비밀번호를 무단으로 도용한 경우 
6) "사이트"내에서 컴퓨터 바이러스 프로그램을 유포하는 경우 
7) "사이트" 및 회원, 제3자의 지적재산권을 침해하고 시정을 거부하는 경우 
8) "사이트"가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소전에 소명할 기회를 부여합니다. 

제 8 조 (회원에 대한 통지) 

"사이트"가 회원에 대한 통지를 하는 경우, 회원이 "사이트"에 제출한 전자우편 주소로 할 수 있습니다. 
"사이트"는 불특정다수 회원에 대한 통지의 경우 1주일이상 "사이트" 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 

제 9 조 (서비스이용계약의 성립) 

1) 회원가입페이지에서 "이용 약관에 동의합니다."는 체크 버튼에 체크하면 약관에 동의하는 것으로 인정합니다. 
2) "사이트"의 승낙이 제15조의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다. 

제 10 조 (서비스이용신청) 

1) "사이트"에서 제공하는 온라인 양식에서 요구하는 사항을 기록하여 신청합니다. 
2) 온라인 양식에 기재하는 모든 데이타는 실제 데이타로 간주하며 허위로 기재하거나 입력을 누락한 경우에는 법적인 보호를 받을 수 없으며, 정상적인 서비스를 받지 못할 수 도 있습니다. 
3) 이용신청자가 미성년자인 경우에는 부모의 전화 또는 서면 등의 동의를 받아 이용계약을 신청할 수 있습니다. 

제 11 조 (서비스 이용신청의 유보 및 거부) 

다음 각호에 해당하는 경우 서비스 이용신청을 유보할 수 있습니다. 
1) 기술적인 문제가 발생한 경우 
2) 장비에 여유가 없는 경우 
3) 교회 사정상 이용승낙이 곤란한 경우 

다음 각호에 해당하는 경우 서비스 이용신청을 거부할 수 있습니다. 
1) 실명을 사용하지 않는 경우 
2) 타인의 명의를 사용하여 신청한 경우 
3) 사회의 질서를 저해할 목적으로 서비스 이용신청을 한 경우 
4) 기재내용을 허위로 기재한 경우 
5) 기타 교회가 정한 이용신청요건 및 사항에 미치지 못할 경우 

제 12 조 (서비스 이용시간) 

1) 교회의 업무상 혹은 기술상 특별한 이유가 없는한 "사이트"에서 제공하는 서비스는 지속적으로 이용할 수 있습니다. 
2) 교회가 정한 정기점검 혹은 임시점검시간에는 이용할 수 없습니다. 
3) 서비스의 종류에 따라서 지속적으로 제공할 수 없는 경우가 있으며 이는 "사이트"가 정합니다. 

제 13 조 (서비스의 중지) 

1) "사이트"가 특정 어려움으로 인하여 일시적으로 서비스를 중지해야 할 경우, 서비스 중지 1주일전에 고지하여야 합니다. 이 기간동안 이용자가 고지내용을 인지 하지 못한데 대하여 "사이트"는 책임을 지지 않습니다. 
2) 매우 급박한 사정이 있을 경우 사전고지기간은 줄어들거나 생략될 수 있습니다. 서비스 중지에 의하여 본 "사이트"에 보관되거나 전송된 메시지 및 기타 통신 메시지 등의 내용이 보관되지 못하였거나 삭제된 경우, 전송되지 못한 경우 및 기타 통신 데이터의 손실이 있을 경우에 대하여도 "사이트"는 책임을 지지 않습니다. 
3) "사이트"의 사정으로 서비스를 영구 중단해야 할 경우 1)항과2)항을 준용합니다. 단, 이 경우 사전 고지기간은 1개월로 합니다.  

제 14 조 (수신확인통지) 

"사이트"는 이용자의 회원가입신청이 있는 경우 이용자에게 수신확인통지를 전자우편을 통해서 합니다. 


제 15 조 (회원의 ID 및 비밀번호에 대한 의무) 

1) ID와 비밀번호에 관한 관리책임은 회원에게 있습니다. 
2) 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다. 
3) 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 "사이트"에 통보하고 "사이트"의 안내가 있는 경우에는 그에 따라야 합니다. 
4) ID는 주민등록상의 본인실명으로 발급하는 것을 원칙으로 합니다. 단, 법인의 경우에는 그러하지 아니합니다. 
5) ID는 공유 또는 양도할 수 없습니다. 회원이 교회와 사전협의 없이 ID를 공유, 양도하는 경우 교회는 해당 ID를 중지할 수 있습니다. 단, 교회와 회원이 별도조건에 따라 약정하는 경우는 그러하지 아니합니다. 


제 16 조 (이용자의 의무) 

이용자는 다음 각호에 해당되는 행위를 하여서는 안됩니다. 다음 각호에 해당되는 행위가 발견되면 교회는 해당자의 회원자격을 정지 혹은 박탈시킬 수 있습니다. 

1) 신청 또는 변경시 허위내용의 등록 
2) "사이트"에 게시된 정보의 변경 
3) "사이트"가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시 
4) "사이트"와 기타 제3자의 저작권 등 지적재산권에 대한 침해 
5) "사이트"와 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위 
6) 외설 또는 폭력적인 메시지·화상·음성 기타 공서양속에 반하는 정보를 사이트에 공개 또는 게시 하는 행위 
7) 다른 회원의 ID를 사용하는 행위 
8) "사이트"에서 제공하는 서비스를 통해서 얻은 정보를 교회의 승인없이 무단으로 사용하거나 유포 하는 행위 
9) 스토킹(stalking) 등 다른 이용자를 괴롭히는 행위 
10) "사이트"의 승인을 받지 아니한 광고 판촉물(정크메일, 스팸, 행운의 편지, 피라미드 조직홍보등 포함)을 전자메일 또는 기타의 방법으로 전송하거나 게재하는 행위 
11) 다른 이용자의 개인정보를 수집하거나 저장하는 행위 
12) 기타 관계 법령에 위배되는 행위 


제 17 조 (이용자의 게시물) 

"사이트"는 이용자가 게시한 내용물에 대해서 다음 각호에 해당하는 경우에 사전 통보없이 삭제할 수 있습니다. 

1) 타인에 대한 인신공격성 발언, 저속한 표현 등을 사용한 경우 
2) "사이트"가 제시한 게시기간을 초과하는 경우 
3) 음란한 자료 혹은 음란사이트 관련 링크를 올리는 경우 
4) "사이트"를 포함한 타인의 저작권을 침해한 게시물의 경우 


제 18 조 (저작권의 귀속 및 이용제한) 

1) "사이트"가 작성한 저작물에 대한 저작권 기타 지적재산권은 "사이트"에 귀속합니다. 이용자는 "사이트"를 이용함으로써 얻은 정보를 "사이트"의 사전 승낙없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리 목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다. 
2) 게시물(이용자가 "사이트"에 업로딩한 글, 영상, 소리 등)에 대한 권리와 책임은 게시자에게 있습니다. "사이트"는 게시자의 동의없이 게시물을 영리적 목적으로 사용하지 않습니다. 


제 19 조 (분쟁해결) 

1) "사이트"는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 적극적으로 처리합니다. 
2) "사이트"는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보합니다. 


제 20 조 (손해배상) 

"사이트"는 서비스가 무료로 운영되는 동안에는 서비스 이용과 관련하여 "사이트"의 고의, 과실에 의한 것이 아닌 한 회원에게 발생한 어떠한 손해에 관해서도 책임을 지지 않습니다. 


제 21 조(면책조항) 

1) 천재지변 등 불가항력에 의한 서비스 중단 및 이용자가 올린 데이타의 유실 혹은 손상시 "사이트"는  책임이 면제 됩니다. 
2) "사이트"는 이용자가 게재한 정보의 사실여부, 정확도 등 내용에 대해서는 책임이 면제됩니다. 
3) 서비스 이용과 관련하여 이용자에게 발생한 손해 중 이용자의 고의, 과실에 의한 손해에 대하여 책임이 면제 됩니다. 
4) "사이트"는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며 그밖에 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임이 면제됩니다. 

제 22 조(재판권 및 준거법) 

1) "사이트"와 이용자간에 발생한 전자거래 분쟁에 관한 소송은 "사이트"운영사 소재지 관할법원에 제기합니다. 
2) "사이트"와 이용자간에 제기된 전자거래 소송에는 한국법을 적용합니다. 

제 23조 (개인정보privacy보호정책) 

1) 일반적으로 '사이트'는 이용자와의 개인정보를 공개하지 않으며, 다만 이용자가 허락한 경우에만 공개됩니다. 
2) 사이트에서 이용자의 개인정보를 정정(수정),삭제하기 위해서는 언제든지 이용자의ID와 비밀번호를 사용하여 회원정보수정 페이지에서 수정할 수 있으며 만약 삭제를 원할 경우 회원탈퇴를 하십시오. 
3) 사용자 정보는 비밀번호에 의해 보호되고 있으므로, 오직 사용자 본인만이 개인정보에 접속할 수 있습니다. 따라서 비밀번호는 그 누구에게도 알려 주어서는 안됩니다. 또한 작업을 마치신 때에는 반드시 사용자의 계정을 종료하시고, 웹브라우져의 창을 닫아주시기 바랍니다. 이는 사용자가 다른 사람과 컴퓨터를 공유하거나, 인터넷 카페나 도서관 같은 공공장소에서 컴퓨터를 사용하는 경우 다른 사람이 귀하의 개인 정보 및 통신내용을 함부로 볼 수 없도록 하기 위한 것입니다. 
4)'사이트'는 정보의 상실, 누출, 변경, 훼손 등을 막기 위해 다음과 같은 관리적 대책을 마련하고 있습니다. 
- 개인정보와 일반 데이터를 혼합하여 보관하는 것을 금지 
- 개인정보에 대한 접근권한을 부여하고 이를 확인할 수 있는 절차 
- 사용자의 개인정보를 처리하는 시스템의 담당자를 지정하여 비밀번호를 부여하고 보안을 유지함 
5) 온라인상에서 - 예를 들어서 게시판이나, email을 통해서, 또는 채팅을 통해서 사용자가 자발적으로 제공하는 개인정보는 다른 사람들이 수집하여 사용할 수 있음을 항상 유념해 주시기 바랍니다. 
마지막으로, 사용자의 비밀번호나 회원정보에 대한 비밀을 유지할 책임은 오로지 귀하에게 있습니다. 
따라서, 온라인상에 접속해 있을 때에는 각별히 주의를 하시기 바랍니다. 

[부칙] 
이 약관은 2005년 12월 15일 부터 시행합니다.
</textarea>
        <div class="agree_wrap">
            {% csrf_token %}
            <input type="checkbox" name="term_agree" id="term_agree" value="agree">
            <label for="term_agree">회원가입약관의 내용에 동의합니다.</label>
        </div>
    </div>
