{% load static%}

{% static 'img/naver_login_green.png' as naver_login %}
{% static 'img/kakao_login.png' as kakao_login %}
{% static 'img/google_login.png' as google_login %}
{% static 'img/facebook_login.png' as facebook_login %}


<div id="social_login_wrap" class="after">
    <div class="sl_btn_wrap">
        <a class="sl_btn" href="#" onclick="naverLogin()">
            <img src="{{ naver_login }}" height="50" width="100%">
        </a>
        <a class="sl_btn" href="#" onclick="kakaoLogin()">
            <img src="{{ kakao_login }}" height="50" width="100%">
        </a>
        <a class="sl_btn" href="#" onclick="googleLogin()">
            <img src="{{ google_login }}" height="50" width="100%">
        </a>
    </div>
</div>

<script src="{% static 'js/social_login.js' %}"></script>