/*로그인, common*/
#header, #container, #footer{width:480px; margin:0 auto;}
#header{padding-top:50px;}
#header > h1{width:288px; margin:0 auto;}

#container{margin-top:70px;}
#container > .wrap{width:100%; margin:0 auto; border:2px solid #0093e9; border-radius:10px; padding:30px 30px 10px 30px;}
#container > .wrap input{padding:8px; border:1px solid #c5c5c5; height:40px; font-size:14px; line-height:14px; width:100%; margin-bottom:20px;}
#container > .wrap input:focus{border:1px solid #0093e9;}
#container > .wrap .login_submit{background-color:#0093e9; cursor:pointer; border:1px solid #0187d4;}

#footer{margin-top:40px;}
#footer > .wrap{width:100%; margin:0 auto; border-top:1px solid #c5c5c5; padding-top:5px; text-align:center;}
#footer > .wrap > a{font-size:12px; display:inline-block; color:#a1a1a1; line-height:13px;}
#footer .bar{margin:0 4px; display:inline-block; width:1px; background-color:#c5c5c5; height:17px; line-height:14px; text-indent:-999em;}

/*아이디, 비밀번호 찾기*/
#find_header{padding:20px; border-bottom:1px solid #c5c5c5; box-shadow:0px 0px 3px 1px #c5c5c5;}
#find_header > h1{font-size:16px;}
#find_container{padding:20px;}
#find_container .field_wrap{margin-bottom:20px;}
#find_container .field_wrap:first-child{border:none;}
#find_container input{border:1px solid #c5c5c5; padding:8px; height:40px; font-size:14px; line-height:14px; width:100%;}
#find_container input:focus{border:1px solid #0093e9;}
#find_container input.button{cursor:pointer;}
#find_container #button_wrap{text-align:center;}
#find_container #find_submit{background-color:#0093e9; border:1px solid #0187d4; width:20%; margin-right:8%;}
#find_container #find_close{width:20%; background-color:#818181; border:none;}
#find_container .error{display:inline-block; margin-left:20px; font-size:12px; color:#fa5555}
#find_container .help{font-size:12px; color:#939393; margin-top:10px;}

/*회원가입*/
#reg_wrapper{width:800px; margin:0 auto; padding-top:30px; min-height:500px;}
#reg_wrapper.result{text-align:center;}
#reg_wrapper h4{color:#0093e9; margin-top:30px;}
.register_term textarea{width:100%; height:300px; margin-top:20px; padding:8px; background-color:#f7f7f7; border:1px solid #e9e9e9;}
.register_term .agree_wrap{text-align:right; margin-top:10px;}
.btn_confirm{text-align:center; margin-top:30px;}
.btn_confirm input{background-color:#0093e9; padding:8px; border:1px solid #0187d4; height:40px; font-size:14px; line-height:14px; width:100px; cursor:pointer; color:white;}
.reg_form{margin:10px 0 30px 0;}
.sec_title{margin-left:10px;}
.field_wrap{border-top:1px solid #c5c5c5; padding:10px;}
.field_wrap:last-child{border-bottom:1px solid #c5c5c5;}
.reg_form label{width:100px; padding:5px; display:inline-block; font-size:13px; border-right:1px solid #c5c5c5;}
.reg_form input{padding:8px; border:1px solid #c5c5c5; height:30px; font-size:14px; line-height:14px; margin-left:10px;}
.reg_form select[name='office']{border:1px solid #c5c5c5; height:30px; font-size:14px; line-height:14px; margin-left:10px; width:100px;}
.reg_form select{border:1px solid #c5c5c5; height:30px; font-size:14px; line-height:14px; margin-left:10px; background-color:white;}
.reg_form .error{font-size:12px; color:#fa5555; margin-left:10px;}

/* 반응형 */
@media screen and (max-width:1024px){
    #reg_wrapper{width:80%;}
}

@media screen and (max-width:768px){
    #reg_wrapper{width:90%;}
}

@media screen and (max-width:480px){
    #reg_wrapper{width:95%;}
    #reg_wrapper h4{font-size:14px;}
    #header, #container, #footer{width:90%;}
    #container{margin-top:20px;}
    .sec_title{margin-left:0px;}
    .register_term > textarea{font-size:12px;}
    .field_wrap{padding:10px 0;}
    .reg_form label{padding:5px 0; width:90px;}
    .reg_form .error{font-size:12px; color:#fa5555; margin-left:105px; display:block; margin-top:10px}
}