/*로그인, common*/
body#login{width:480px; margin:0 auto;}
#header, #login_wrap, #social_login_wrap, #footer{width:100%;}
#header{padding-top:50px;}
#header > h1{width:288px; margin:0 auto;}

#login_wrap{margin-top:70px;}
#login_wrap > .wrap{width:100%; margin:0 auto; border:2px solid #0093e9; border-radius:10px; padding:30px 30px 10px 30px;}
#login_wrap > .wrap input{padding:8px; border:1px solid #c5c5c5; height:40px; font-size:14px; line-height:14px; width:100%; margin-bottom:20px;}
#login_wrap > .wrap input[name='password']{margin-bottom:0px;}
#login_wrap > .wrap input:focus{border:1px solid #0093e9;}
#login_wrap > .wrap .login_error{font-size:13px; height:20px; vertical-align:middle; text-align:center; color:#fd4141; font-weight:bold;}
#login_wrap > .wrap .login_submit{background-color:#0093e9; cursor:pointer; border:1px solid #0187d4;}

#social_login_wrap{margin-top:20px;}
#social_login_wrap .sl_left{float:left;}
#social_login_wrap .sl_right{float:right;}

#footer{margin-top:20px;}
#footer > .wrap{width:100%; margin:0 auto; border-top:1px solid #c5c5c5; padding-top:5px; text-align:center;}
#footer > .wrap > a{font-size:12px; display:inline-block; color:#a1a1a1; line-height:13px;}
#footer .bar{margin:0 4px; display:inline-block; width:1px; background-color:#c5c5c5; height:17px; line-height:14px; text-indent:-999em;}

/*아이디, 비밀번호 찾기*/
#find_header{padding:20px; border-bottom:1px solid #c5c5c5; box-shadow:0px 0px 3px 1px #c5c5c5;}
#find_header > h1{font-size:16px;}
#find_container{padding:20px;}
#find_container .field_wrap{margin-bottom:20px;}
#find_container .field_wrap:first-child{border:none;}
#find_container input{border:1px solid #c5c5c5; padding:8px; height:40px; font-size:14px; line-height:14px; width:100%;}
#find_container input:focus{border:1px solid #0093e9;}
#find_container input.button{cursor:pointer;}
#find_container #button_wrap{text-align:center;}
#find_container #find_submit{background-color:#0093e9; border:1px solid #0187d4; width:20%; margin-right:8%;}
#find_container #find_close{width:20%; background-color:#818181; border:none;}
#find_container .error{display:inline-block; margin-left:20px; font-size:12px; color:#fa5555}
#find_container .help{font-size:12px; color:#939393; margin-top:10px;}

/*회원가입*/
#reg_wrapper{width:800px; margin:0 auto; padding-top:30px; min-height:500px;}
#reg_wrapper.result{text-align:center;}
#reg_wrapper h4{color:#0093e9; margin-top:40px;}
#reg_wrapper h5{margin-top:20px;}
#reg_wrapper.usercheck,
#reg_wrapper.userresult{text-align:center; width:450px;}
#reg_wrapper.usercheck .field_wrap{margin-top:20px; border-bottom:1px solid #c5c5c5;}
#reg_wrapper.usercheck .field_wrap label{text-align:left;}
.register_term{margin-top:20px;}
.register_term p{text-align:center; font-size:16px; font-weight:bold;}
.register_term textarea{width:100%; height:300px; margin-top:20px; padding:8px; background-color:#f7f7f7; border:1px solid #e9e9e9;}
.register_term .agree_wrap{text-align:right; margin-top:10px;}
.register_term .agree_wrap label{font-size:13px;}
#private_table{width:100%; text-align:center; margin-top:20px; font-size:13px; border:1px solid #e3e3e3;}
#private_table th{width:33.3%; border:1px solid #0093e9; background-color:#00a2ff; color:white; padding:10px 0;}
#private_table td{vertical-align:middle; border:1px solid #e3e3e3; padding:10px 5px; word-break:keep-all;}
.btn_confirm{text-align:center; margin-top:30px;}
.btn_confirm input{background-color:#0093e9; padding:8px; border:1px solid #0187d4; height:40px; font-size:14px; line-height:14px; width:100px; cursor:pointer; color:white;}
.btn_confirm input.main{background-color:#a1a1a1; border: 1px solid #a1a1a1;}
.reg_form{margin:10px 0 30px 0;}
.sec_title{margin-left:10px;}
.field_wrap{border-top:1px solid #c5c5c5; padding:10px;}
.field_wrap:last-child{border-bottom:1px solid #c5c5c5;}
.field_wrap.error_label label{color:#fa5555; font-weight:bold;}
.field_wrap label{width:90px; padding:5px 0; display:inline-block; font-size:13px; border-right:1px solid #c5c5c5; vertical-align:top;}
.field_wrap .input_wrap{display:inline-block}
.field_wrap input{padding:8px; border:1px solid #c5c5c5; height:30px; font-size:14px; line-height:14px; margin-left:10px;}
.field_wrap select[name='office']{border:1px solid #c5c5c5; height:30px; font-size:14px; line-height:14px; margin-left:10px; width:100px;}
.field_wrap select{border:1px solid #c5c5c5; height:30px; font-size:14px; line-height:14px; margin-left:10px; background-color:white;}
.field_wrap .error{font-size:12px; color:#fa5555; font-weight:bold; word-break:keep-all;}
.field_wrap .help{font-size:12px; margin:10px 0 0 100px;}



/* 반응형 */
@media screen and (max-width:1024px){
    #reg_wrapper{width:80%!important;}
}

@media screen and (max-width:768px){
    #reg_wrapper{width:90%!important;}
    .field_wrap .error{display:block;}
}

@media screen and (max-width:480px){
    body#login{width:90%;}
    #reg_wrapper{width:95%!important; padding-top:10px;}
    #reg_wrapper h4{font-size:13px;}
    #private_table{font-size:11px;}
    #login_wrap{margin-top:20px;}
    .sec_title{margin-left:0px;}
    .register_term > textarea{font-size:12px;}
    .field_wrap{padding:10px 0;}
    .reg_form .error{font-size:12px; color:#fa5555; margin-left:105px; display:block; margin-top:10px}
}