{% load static %}
{% load board_tag %}
<div id="invisible">
{{post.viewsup}}
</div>
<!-- 헤더 시작 -->
<div id="detail_header" class="after">
    <div>
        <h2>{{post.title}}</h2>
    </div>
    <div style="float:right; margin-top:10px; font-size:12px;">
        <span>작성자</span>
        <span style="margin-right:10px;"><strong>{{post.writer}}</strong></span>
        <span>작성일</span>
        <span style="margin-right:10px;"><strong>{{post.upload_date|date:"Y.m.d   H:m"}}</strong></span>
        <span>조회수</span>
        <span><strong>{{post.views}}</strong></span>
    </div>
</div>
<!-- 헤더 끝 -->
<!-- 내용 시작 -->
<div id="detail_content">
    {% if post.video %}
    <iframe src="http://www.youtube.com/embed/{{post.video}}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if post.image %}
    {% for i in post.image.all %}
    <img src="{{i.image.url}}">
    {% if i.desc %}<p>{{i.desc|linebreaksbr}}</p><br>{% endif %}
    {% endfor %}
    {% endif %}<p>{{post.content|linebreaksbr|urlize|url_target_blank}}</p>
</div>
<!-- 내용 끝 -->
<!-- 댓글 시작-->
<div id="comment_wrap">
{% csrf_token %}
<input v-model="content" id="comment_write" type="text" placeholder="댓글을 입력해주세요.">
<button @click="AddComment">작성</button>
<ul>
    <li v-for="comment in comments">
        <p>[[comment.content]]</p>
    </li>
</ul>
</div>
<script>
var comment = new Vue({
    el:'#comment_wrap',
    delimiters:['[[',']]'],
    data:{
        content:'',
        comments:[]
    },
    created:function(){
        this.getComments();
    },
    methods:{
        getComments:function(){
            axios.get('/comments/{{board_pk}}')
            .then((response) => {
                this.comments = response.data;
            })
            .catch((err) => {
                console.log(err);
            })
        },
        AddComment:function(){
            var postData = {content:this.content}
            axios.post('/comments/{{board_pk}}', postData, {xsrfCookieName: 'csrftoken', xsrfHeaderName: 'X-CSRFToken'})
            .then((response) => {
                this.getComments();
                document.getElementById('comment_write').value = '';
                this.content = ''
                //console.log(response.data);
                //console.log(this.content);
            })
            .catch((err) => {
                alert(err.data)
                console.log(err);
                //console.log(this.content);
            })
        }
    }
})
</script>