{% load static %}
{% load board_tag %}
<div id="invisible">
{{post.viewsup}}
</div>
<!---------- 헤더 ----------->
<div id="detail_header" class="after">
    <div>
        <h2>{{post.title}}</h2>
    </div>
    <div id="post_info">
        <span style="margin-right:10px;">{{post.writer}}</span>
        <span style="margin-right:10px;">{{post.upload_date|date:"Y.m.d   H:m"}}</span>
        <span>조회</span>
        <span>{{post.views}}</span>
    </div>
</div>
<!--------------------------->
<!-------- 첨부파일 --------->
{% for file in post.file.all %}
<div id="file_wrap">
    <div class="container">
        <img class="icon" src="{% static 'img/fileicon.png' %}" height="16px">
        <a href="{{file.file.url}}" download>{{file.file.name|filename}}</a>
        <span>[{{file.file.size|filesizeformat}}]</span>
    </div>
</div>
{% endfor %}
<!--------------------------->
<!---------- 내용 ----------->
<div id="detail_content" class="after">
    {% if post.video %}
    <div class="youtube_container"><iframe src="http://www.youtube.com/embed/{{post.video}}" frameborder="0" allowfullscreen></iframe></div>
    <p class=youtube_link><img src="{% static 'img/link.png' %}"><a href="https://youtu.be/{{post.video}}" target="_blank">https://youtu.be/{{post.video}}</a></p>
    {% endif %}<p>{{post.content|safe}}</p>
</div>
<!---------- 댓글 ----------->
{% include "comment.html" %}
<!--------------------------->
<!---------- 버튼 ----------->
{% include "buttons.html" %}
<!--------------------------->
<!------- 다음,이전글 ------->
{% include "prev_next.html" %}
<!--------------------------->