{% load static %}
{% load board_tag %}
<div id="invisible">
{{post.viewsup}}
</div>
<!---------- 헤더 ----------->
<div id="detail_header" class="after">
    <div>
        <h2>{{post.title}}</h2>
    </div>
    <div id="post_info">
        <span style="margin-right:10px;">{{post.writer}}</span>
        <span style="margin-right:10px;">{{post.upload_date|date:"Y.m.d   H:m"}}</span>
        <span>조회</span>
        <span>{{post.views}}</span>
    </div>
</div>
<!--------------------------->
<!-------- 첨부파일 --------->
<div id="file_wrap">
{% for file in post.file.all %}
    <div class="container">
        <img class="icon" src="{% static 'img/fileicon.png' %}" height="16px">
        <a href="{{file.file.url}}" download>{{file.file.name|filename}}</a>
        <span>[{{file.file.size|filesizeformat}}]</span>
    </div>
{% endfor %}
</div>
<!--------------------------->
<!---------- 내용 ----------->
<div id="detail_content">
    {% if post.video %}
    <p><iframe src="http://www.youtube.com/embed/{{post.video}}" frameborder="0" allowfullscreen></iframe></p>
    <p><a href="http://www.youtube.com/watch?v={{post.video}}" target="_blank">http://www.youtube.com/watch?v={{post.video}}</a></p>
    {% endif %}
    {% if post.image %}
    {% for i in post.image.all %}
    <p><img src="{{i.image.url}}"></p>
    {% if i.desc %}<p>{{i.desc|linebreaksbr}}</p><br>{% endif %}
    {% endfor %}
    {% endif %}<p>{{post.content|linebreaksbr|urlize|url_target_blank}}</p>
</div>
<!---------- 댓글 ----------->
{% include "comment.html" %}
<!--------------------------->
<!------- 다음,이전글 ------->
{% include "prev_next.html" %}
<!--------------------------->