{% load static %}
{% load board_tag %}
<table id="list_table">
    <thead>
        <tr>
            <th class="th_no">번호</th>
            <th class="th_title">제목</th>
            <th class="th_writer">작성자</th>
            <th class="th_date">등록일</th>
            <th class="th_views">조회수</th>
        </tr>
    </thead>
    <tbody>
        {% now "y-m-d" as todays_date %}
        {% now "y" as this_year %}
        {% for post in post_list %}
        <tr>
            <td class="td_no">{% td_no forloop.counter0 total post_list.start_index%}</td>
            <td class="td_title">
                <a href="/board/{{post.div}}/{{post.id}}">{{post.title}}</a>
                <span><!--
                    -->{% if todays_date == post.upload_date|date:"y-m-d" %}<!--
                    --><img class="icon" src="{% static 'img/newicon.png' %}" height="16px"><!--
                    -->{% endif %}<!--
                    -->{% if post.video %}<!--
                    --><img class="icon" src="{% static 'img/videoicon.png' %}" height="16px"><!--
                    -->{% endif %}<!--
                    -->{% if post.image.first %}<!--
                    --><img class="icon" src="{% static 'img/picicon.png' %}" height="16px"><!--
                    -->{% else %}<!--
                    -->{% endif %}<!--
                --></span>
            </td>
            <td class="td_writer">{{post.writer}}</td>
            <td class="td_date">
            {% if todays_date == post.upload_date|date:"y-m-d" %}
            {{ post.upload_date|date:"H:i" }}
            {% elif this_year == post.upload_date|date:"y" %}
            {{ post.upload_date|date:"m-d"}}
            {% else %}
            {{ post.upload_date|date:"Y-m-d" }}
            {% endif %}
            </td>
            <td class="td_views">{{post.views}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}