{% load static %}
{% load board_tag %}
<table id="list_table">
    <thead>
        <tr>
            <th class="th_no">번호</th>
            <th class="th_title">제목</th>
            <th class="th_writer">작성자</th>
            <th class="th_views">조회수</th>
        </tr>
    </thead>
    <tbody>
        {% now "y-m-d" as todays_date %}
        {% now "y" as this_year %}
        {% if notice_list %}
        {% for post in notice_list %}
        <tr class="notice">
            <td class="td_no">공지</td>
            <td class="td_title">
                <div class="td_title_title after">
                    <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
                    {% if post.comments %}
                    <span class="cmt_count">[{{post.comments}}]</span>
                    {% endif %}
                </div>
                <div id="mob_list_info">
                    <em>{% if post.writer.is_superuser %}관리자{% else %}{{post.writer}}{% endif %}</em>
                    <span class="bar">|</span>
                    <em>조회수 : {{post.views}}</em>
                </div>
            </td>
            <td class="td_writer">{% if post.writer.is_superuser %}관리자{% else %}{{post.writer}}{% endif %}</td>
            <td class="td_views">{{post.views}}</td>
        </tr>
        {% endfor%}
        {% endif %}
        {% if post_list %}
        {% for post in post_list %}
        <tr>
            <td class="td_no">{% td_no forloop.counter0 page_obj.start_index %}</td>
            <td class="td_title">
                <div class="td_title_title after">
                    <a href="{{ post.get_absolute_url }}">{% if post.is_reserved %}{{ post.reservation|reservation_filter }}{% endif %}{% if post.date %}{{post.date|date:"Y-m-d"}} | {% endif %}{% if post.tag %}[{{post.tag}}]{% endif %}{{post.title}}{% if post.preacher %} - {{post.preacher}}{% endif %}</a>
                    <span class="icon_wrap after"><!--
                    -->{% if post.upload_date|post_new %}<!--
                    --><img class="icon" src="{% static 'img/newicon.png' %}" height="16px"><!--
                    -->{% endif %}<!--
                    -->{% if post.video %}<!--
                    --><img class="icon" src="{% static 'img/videoicon.png' %}" height="16px"><!--
                    -->{% endif %}<!--
                    -->{% if post.image %}<!--
                    --><img class="icon" src="{% static 'img/picicon.png' %}" height="16px"><!--
                    -->{% endif %}<!--
                    -->{% if post.files %}<!--
                    --><img class="icon" src="{% static 'img/fileicon.png' %}" height="16px"><!--
                    -->{% endif %}<!--
                --></span>
                    {% if post.comments %}
                    <span class="cmt_count">[{{post.comments}}]</span>
                    {% endif %}
                </div>
                <div id="mob_list_info">
                    <em>{% if post.writer.is_superuser %}관리자{% else %}{{post.writer}}{% endif %}</em>
                    <span class="bar">|</span>
                    <em>조회수 : {{post.views}}</em>
                </div>
            </td>
            <td class="td_writer">{% if post.writer.is_superuser %}관리자{% else %}{{post.writer}}{% endif %}</td>
            <td class="td_views">{{post.views}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td class="no_list" colspan="5">등록된 글이 없습니다.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% include "pagination.html" %}
{% include "search.html" %}