<ul id="pagination" class="after">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">이전</a></li>
    {% else %}
        <li class="disabled"><span>이전</span></li>
    {% endif %}
    {% for i in page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }}</span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">다음</a></li>
    {% else %}
        <li class="disabled"><span>다음</span></li>
    {% endif %}
    {% if user.is_authenticated %}
    <div id="to_write">
        <a href="/board/{{pk}}/write">글쓰기</a>
    </div>
    {% endif %}
</ul>