<ul id="pagination" class="after">
    {% if post_list.has_previous %}
        <li><a href="?page={{ post_list.previous_page_number }}">이전</a></li>
    {% else %}
        <li class="disabled"><span>이전</span></li>
    {% endif %}
    {% for i in page_range %}
        {% if post_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if post_list.has_next %}
        <li><a href="?page={{ post_list.next_page_number }}">다음</a></li>
    {% else %}
        <li class="disabled"><span>다음</span></li>
    {% endif %}
</ul>