{% load static %}
<!-- 우리의 비젼 -->
<div id="fixed_pics">
    <img src="{% static 'img/vision.jpg' %}" width="100%" height="100%;">
</div>
<div id="vision" class="fixedview">
    <div class="section">
        <p class="title">목회철학</p>
        <div class="wrap">
            <div class="container">
                <p class="sm_title">성령이 이끄시는 교회</p>
                <p class="content">교회는 성령이 이끄신다고 믿습니다. 그래서 “하나님이 성전에 계시니 너희는 잠잠할지니라” 오직 하나님은 말씀하시고 우리는 순종하는 교회가 되기를 원합니다. 담임목사부터 오직 성령께 민감한 목사가 되어 말씀중심, 강단을 기도와 눈물로 지켜 성령의 통치를 받는 귀한 교회가 되고 모든 중직과 성도들도 동일한 마음으로 성령께 통치 받아 한 마음, 한 뜻으로 주님의 사명을 감당하기를 원합니다.</p>
            </div>
            <div class="container">
                <p class="sm_title">평신도를 세우는 교회</p>
                <p class="content">특히 평신도를 왕 같은 제사장으로 세운 줄 알아 우리에게 맡기신 귀한 사명을 감당하기 위해 훈련받고 한 영혼을 전도하여 신자를 만들고, 그들을 사랑으로 섬겨 정착하고, 그들을 양육하여 또 다른 리더를 만드는 귀한 일에 쓰임 받기를 원합니다. 그래서 나를 통해 또 다른 리더를 만들어 내는 재생산의 목양 일선에 우리의 성도들이 귀하게 쓰임 받기를 원합니다. 그래서 우리의 성장만큼 믿음의 큰 그릇을 만들어 귀한 복을 흘려보내는 복의 통로가 되기를 원합니다.</p>
            </div>
            <div class="container">
                <p class="sm_title">비젼이 이끄는 교회</p>
                <p class="content">우리교회는 재정이나 사람이 움직이는 교회가 아니라 하나님이 맡기신 비전이 움직이는 교회가 되길 원합니다.<br>우리에게 맡기신 부산 경남과 민족과 열방을 섬기기 위해 우리의 모든 것을 드리는 교회되기를 원합니다. 교회는 예배의 공동체로 훈련의 공동체로 사역의 공동체로 선교의 공동체로 허락하셨는데 이러한 교회를 만드신 하나님의 뜻에 순복해서 교회가 교회되고 교회의 사명을 감당하는 귀한 모습으로 쓰임 받기를 원합니다.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <p class="title">비젼</p>
        <div class="wrap">
            <p style="font-size:14px; line-height:1.8;">부산,경남의 8백만을 감당하는 교회<br>민족을 섬기는 교회<br>소그룹을 통해 평신도를 세우는 교회<br>세계를 선교하는 교회</p>
        </div>
    </div>
    <div class="section">
        <p class="title">시스템</p>
        <div class="wrap">
        <p style="font-size:14px; margin-bottom:10px;">전도 - 정착 - 양육 - 재생산을 이루어 가는 소그룹과 대그룹</p>
            <div class="container">
                <p class="sm_title">대그룹</p>
                <ul>
                    <li>예배 - 성령의 임재가 있는 예배, 말씀중심의 은혜로운 예배, 축제와 같은 예배</li>
                    <li>전도 - 부산과 경남의 불신자를 위한 관계전도와 아파트 전도팀을 위한 전도</li>
                    <li>정착 - 새가족과 정착팀을 통해 친구가 되어주고 사랑으로 그들의 필요를 채움으로 새가족을 정착시킨다</li>
                    <li>양육 - 새신자를 신자로 신자를 제자로 제자를 헌신자로 만드는 양육과정을 통해 성장</li>
                    <li>재생산 - 일꾼들의 믿음과 섬김 본을 통해 리더의 재생산</li>
                </ul>
            </div>
            <div class="container">
                <p class="sm_title">소그룹</p>
                <ul>
                    <li>전도 - 소그룹을 통해 철저한 삶의 모범을 통한 관계맺기</li>
                    <li>정착 - 소그룹에 참여한 새가족을 향한 필요 채우기, 친구가 되어주기</li>
                    <li>양육 - 소그룹안에서의 모범을 통한 양육</li>
                    <li>재생산 - 나와 같은 또 다른 소그룹을 재생산한다.</li>
                </ul>
            </div>
        </div>
    </div>
</div>