{% load static %}
<community-com inline-template :fixedview_data="fixedview_data" @community="community">
    <div id="community" class="fixedview">
        <div id="community_wrap">
            <div class="c_top after">
                <div class="community_image">
                    <img :src="fixedview_data.image" width="100%">
                </div>
                <div class="container c_01">
                    <p class="content" v-html="fixedview_data.title"></p>
                </div>
                <div class="container c_02">
                    <p class="content" v-html="fixedview_data.worship"></p>
                </div>
                <a v-if="fixedview_data.youtube" :href="fixedview_data.youtube" target="_blank" class="container c_youtube">
                    <img src="{% static 'img/youtube_white.png' %}" width="50px">
                </a>
            </div>
            <div class="container c_03">
                <p class="title">교육목표</p>
                <p class="content" v-html="fixedview_data.goal"></p>
            </div>
            <div class="container c_04">
                <p class="title">섬기는 이</p>
                <p class="content" v-html="fixedview_data.server"></p>
            </div>
        </div>
    </div>
</community-com>