{% load static %}
<!-- 양육시스템 -->
<div id="nurture" class="fixedview">
    <div class="section s01">
        <div class="title">양육철학</div>
        <div class="content after">
            <div class="image_01">
                <img src="{% static 'img/nurture_01.gif' %}">
            </div>
            <div class="container">
                <p>· I : 나를 그리스도의 제자로 세운다.(제자훈련)</p><br>
                <p>· YOU :다른 사람을 돕는 사람이 된다.(소그룹리더훈련)</p><br>
                <p>· THEY :불신자를 소그룹으로 전도하는 훈련을 받는다.(소그룹전도)</p>
            </div>
        </div>
    </div>
    <div class="section s02">
        <div class="title">양육목표</div>
        <div class="content after">
            <p>지향하는 리더 - 전도, 정착, 양육, 재생산을 실행 할 수 있는 리더</p>    
        </div>
    </div>
    <div class="section s03">
        <div class="title">양육시스템</div>
        <div class="content after">
            <div class="image_02">
                <img src="{% static 'img/nurture_02.gif' %}" width="100%">
            </div>
            <div class="container">
                <p class="sm_title">일반선택</p>
                <div class="container">
                    <p>· 가정 : 결혼예비학교, 부부행복학교, 아버지학교, 어머니학교</p>
                    <p>· 기도 : 합심기도학교</p>
                </div>
            </div>
        </div>
    </div>
</div>