<!-- 인사말 -->
<div style="width:800px; margin:0 auto;">
    <div style="font-size:14px; line-height:30px; text-align:center;">다사다난했던 2019년이 지나고, 희망의 2020년 소망의 한 해가 시작되었습니다.<br>
	이 소망의 한 해에 주님의 은혜와 평강이 덕천제일교회 모든 가족 위에 넘치기를 소망합니다.<br>
	지난해는 전 세계적으로나 국가적으로도 많은 변화와 위기가 파도처럼 밀려왔던 해였습니다.<br>
	그리고 올 한 해도 결코 쉽지 않은 해가 되리라 전망합니다. <br>
	이러한 위기 속에서도 성도는 더욱 굳건한 믿음으로 주님께 가까이 나아가서 
	<br>위기마저 더 큰 축복으로 만드는 은혜가 있기를 원합니다.
	<br>이렇게 위기를 축복으로 바꾸기 위해 우리는 더욱 믿음의 삶을 경주해야 합니다.<br><br>
    <div style="border-top:2px solid #cccccc;"></div><br>

	<font color="#537500"><strong>1. 예배의 삶에 우선순위를 두어야 합니다. </strong></font><br><br>
	예배는 하나님을 만나는 통로이자 우리의 삶을 거룩하게 만드는 너무나 귀한 시간입니다. 
	<br>예배에 성공해야 인생에서 성공할 수 있습니다. 
	<br>저는 2019년 모든 성도가 예배에 은혜 받을 수 있도록 예배에 집중할 것입니다. 
	<br>우리 모든 성도들도 모이기를 폐하는 어떤 사람들의 습관과 같이 하지 말고 함께 모여 <br>하나님의 거룩한 임재 속에 들어가는 한 해가 되시길 소망합니다. <br><br>
	<font color="#01b133"><strong>2. 성숙한 성도로 자라가야 합니다.</strong></font><br><br>
	성도가 자라기 위해서는 교육과 훈련을 받아야 합니다. 
	<br>교육을 통해 우리의 눈이 열리고, 훈련을 통해 하나님의 사람으로 다듬어져 가는 것입니다. 
	<br>교회 안에 다양한 양육프로그램이 준비되었습니다. 
	<br>모든 성도들이 한 해 동안 다양한 양육과정을 통해 훈련받아 
	<br>아름다운 성장을 이루어 어려운 때에 가장 많이 성장하는 성도가 되기를 소망합니다. <br><br>
	<font color="#157493"><strong>3. 천국 같은 공동체를 만들어야 합니다.</strong></font><br><br>
	사람은 혼자서는 살 수 없습니다. <br>함께 모여 교제하고 섬기며 나누는 사랑을 통해 축복의 사람으로 변화됩니다.
	<br>그래서 사랑방 중심으로 함께 모여 성령으로 교제하고 다양한 교회 안의 소그룹에서 천국을 경험하며 교제하는 
	<br>복된 한 해가 되기를 소망합니다. <br><br>
	<font color="#6214c2"><strong>4. 우리의 사명을 감당해야 합니다. </strong></font><br><br>
	하나님은 덕천제일교회에 부산과 경남을 맡기셨습니다. <br>우리 민족과 열방을 맡겨주셨습니다. 
	이 사명을 넉넉하게 감당하게 되는 한 해가 되길 원합니다. <br>특히 다음 세대를 위한 드림센터(교육관)가 완공되었고, 주차장 확장 공사도 마무리되었습니다.
	<br>다음 세대를 위한 신앙 교육과 지역주민을 위한 섬김의 사역을 잘 감당하길 원합니다.<br><br>
    <div style="border-top:2px solid #cccccc;"></div><br>하나님이 반드시 아름다운 사역의 열매를 주실 줄 믿습니다. 
	<br>올 한 해 사회적으로는 많은 어려움이 예상되지만 <br>믿음의 세계 속에 사는 우리에겐 가장 큰 하나님의 은혜를 경험하게 되는 축복의 해가 되길 주 안에서 소망해봅니다.
    </div>
</div>