{% load static %}
<!DOCTYPE html>
<!-- 20190118 -->
<html lang="ko">
    <head>
        <!--================================= Meta =================================-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="subject" content="덕천제일교회">
        <meta name="title" content="덕천제일교회">
        <meta name="author" content="덕천제일교회">
        <meta name="description" content="부산시 북구 덕천동 위치, 김대환 담임목사, 예배안내, 설교자료 등 제공">
        <meta name="keywords" content="교회, 덕천동교회, 덕천동 교회, 김대환 목사, 덕천동, 북구">
        <meta name="copyright" content="덕천제일교회">
        <meta property="og:type" content="website">
        <meta property="og:title" content="덕천제일교회">
        <meta property="og:description" content="덕천제일교회에 오신 것을 환영합니다.">
        <meta property="og:image" content="">
        <meta property="og:url" content="{{ request.get_full_path }}">
        <!--=========================================================================-->
        <title>{% block title %}덕천제일교회-dev{% endblock title %}</title>
        {% block head %}
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router@3.1.3/dist/vue-router.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://kit.fontawesome.com/41217280d3.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        {% endblock head %}
    </head>
    <body id="body">
        <div id="wrap">
            <!-- 상단 -->
            <div id="header_wrap" class="after">
                <!-- 최상단 -->
                <div id="top_wrap">
                    <div id="top_frame" class="after">
                        <div id="top_navbar" class="after">
                            <ul class="after">
                                {% if user.is_superuser %}
                                <li>
                                    <a href="/admin">관리자 페이지로..</a>
                                </li>
                                {% endif %}
                                {% if user.is_active %}
                                <li class="log">
                                    <a href="/logout?next={{request.path}}">로그아웃</a>
                                </li>
                                {% else %}
                                <li class="log">
                                    <a href="/login?next={{request.path}}">로그인</a>
                                </li>
                                <li>
                                    <a href="/register">회원가입</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="/board/207">예배시간</a>
                                </li>
                                <li>
                                    <a href="/board/106">오시는 길</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 메뉴 -->
                <div id="menu_wrap" class="after">
                    <div id="menu_frame" class="after">
                        <div id="top_logo" class="after">
                            <a href="/">
                                <img src="{% static 'img/top_logo_black.png' %}" alt="Main Top Logo" width="240px" height="80px">
                            </a>
                        </div>
                        <div id="menu_nav" class="after">
                            <div id="main_menu" class="after">
                                <ul>
                                    <li{% if  menu_nav == '1' %} class="on"{% endif %}>
                                        <a href="/board/101">교회소개</a>
                                    </li>
                                    <li{% if  menu_nav == '2' %} class="on"{% endif %}>
                                        <a href="/board/201">예배와말씀</a>
                                    </li>
                                    <li{% if  menu_nav == '3' %} class="on"{% endif %}>
                                        <a href="/board/301">찬양과경배</a>
                                    </li>
                                    <li{% if  menu_nav == '4' %} class="on"{% endif %}>
                                        <a href="/board/401">성도의교제</a>
                                    </li>
                                    <li{% if  menu_nav == '5' %} class="on"{% endif %}>
                                        <a href="/board/501">커뮤니티</a>
                                    </li>
                                    <li{% if  menu_nav == '6' %} class="on"{% endif %}>
                                        <a href="/board/601">선교부</a>
                                    </li>
                                    <li{% if  menu_nav == '7' %} class="on"{% endif %}>
                                        <a href="/board/701">양육시스템</a>
                                    </li>
                                    <li{% if  menu_nav == '8' %} class="on"{% endif %}>
                                        <a href="/board/801">자료실</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="sub_menu" class="after">
                                <ul class="sub1">
                                    <li>
                                        <a href="/board/101">인사말</a>
                                    </li>
                                    <li>
                                        <a href="/board/102">교회연혁</a>
                                    </li>
                                    <li>
                                        <a href="/board/103">우리의 비젼</a>
                                    </li>
                                    <li>
                                        <a href="/board/104">담임목사소개</a>
                                    </li>
                                    <li>
                                        <a href="/board/105">섬기는 사람들</a>
                                    </li>
                                    <li>
                                        <a href="/board/106">찾아오시는 길</a>
                                    </li>
                                </ul>
                                <ul class="sub2">
                                    <li>
                                        <a href="/board/201">금주의 말씀</a>
                                    </li>
                                    <li>
                                        <a href="/board/202">주일오후예배</a>
                                    </li>
                                    <li>
                                        <a href="/board/203">수요예배</a>
                                    </li>
                                    <li>
                                        <a href="/board/204">금요철야예배</a>
                                    </li>
                                    <li>
                                        <a href="/board/205">새벽기도</a>
                                    </li>
                                    <li>
                                        <a href="/board/206">부흥회</a>
                                    </li>
                                    <li>
                                        <a href="/board/207">예배안내</a>
                                    </li>
                                </ul>
                                <ul class="sub3">
                                        <li>
                                            <a href="/board/301">할렐루야 찬양대</a>
                                        </li>
                                        <li>
                                            <a href="/board/302">호산나 찬양대</a>
                                        </li>
                                        <li>
                                            <a href="/board/303">찬양, 간증 집회</a>
                                        </li>
                                </ul>
                                <ul class="sub4">
                                        <li>
                                            <a href="/board/401">공지사항</a>
                                        </li>
                                        <li>
                                            <a href="/board/402">교회소식</a>
                                        </li>
                                        <li>
                                            <a href="/board/403">교우소식</a>
                                        </li>
                                        <li>
                                            <a href="/board/404">새가족소개</a>
                                        </li>
                                        <li>
                                            <a href="/board/405">교회앨범</a>
                                        </li>
                                        <li>
                                            <a href="/board/406">자유게시판</a>
                                        </li>
                                        <li>
                                            <a href="/board/407">기도요청</a>
                                        </li>
                                        <li>
                                            <a href="/board/408">행사동영상</a>
                                        </li>
                                        <li>
                                            <a href="/board/409">큐티나눔방</a>
                                        </li>
                                </ul>
                                <ul class="sub5">
                                        <li>
                                            <a href="/board/501">영아부</a>
                                        </li>
                                        <li>
                                            <a href="/board/502">유치부</a>
                                        </li>
                                        <li>
                                            <a href="/board/503">유년부</a>
                                        </li>
                                        <li>
                                            <a href="/board/504">초등부</a>
                                        </li>
                                        <li>
                                            <a href="/board/505">중등부</a>
                                        </li>
                                        <li>
                                            <a href="/board/506">고등부</a>
                                        </li>
                                        <li>
                                            <a href="/board/507">사랑부</a>
                                        </li>
                                        <li>
                                            <a href="/board/508">청년1부</a>
                                        </li>
                                        <li>
                                            <a href="/board/509">청년2부</a>
                                        </li>
                                        <li>
                                            <a href="/board/510">청년3부</a>
                                        </li>
                                </ul>
                                <ul class="sub6">
                                        <li>
                                            <a href="/board/601">선교위원회</a>
                                        </li>
                                        <li>
                                            <a href="/board/602">국내선교</a>
                                        </li>
                                        <li class="mission">
                                            <a href="/board/603">아시아<img src="{% static 'img/up_arrow.png' %}"></a>
                                            <ul style="display:none;">
                                                <li>
                                                    <a href="/board/603">캄보디아</a>
                                                </li>
                                                <li>
                                                    <a href="/board/604">인도</a>
                                                </li>
                                                <li>
                                                    <a href="/board/605">일본</a>
                                                </li>
                                                <li>
                                                    <a href="/board/606">태국</a>
                                                </li>
                                                <li>
                                                    <a href="/board/607">필리핀</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mission">
                                            <a href="/board/608">아프리카<img src="{% static 'img/up_arrow.png' %}"></a>
                                            <ul style="display:none;">
                                                <li>
                                                    <a href="/board/608">이집트</a>
                                                </li> 
                                                <li>
                                                    <a href="/board/609">탄자니아</a>
                                                </li>
                                                <li>
                                                    <a href="/board/610">카메룬</a>
                                                </li>
                                                <li>
                                                    <a href="/board/611">남아공</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mission">
                                            <a href="/board/612">기타<img src="{% static 'img/up_arrow.png' %}"></a>
                                            <ul style="display:none;">
                                                <li>
                                                    <a href="/board/612">러시아</a>
                                                </li>
                                                <li>
                                                    <a href="/board/613">볼리비아</a>
                                                </li>
                                                <li>
                                                    <a href="/board/614">파푸아뉴기니</a>
                                                </li>
                                                <li>
                                                    <a href="/board/615">헝가리</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/board/616">단기선교</a>
                                        </li>
                                </ul>
                                <ul class="sub7">
                                        <li>
                                            <a href="/board/701">양육시스템</a>
                                        </li>
                                        <li>
                                            <a href="/board/702">새가족부 자료실</a>
                                        </li>
                                        <li>
                                            <a href="/board/703">확신반 자료실</a>
                                        </li>
                                </ul>
                                <ul class="sub8">
                                        <li>
                                            <a href="/board/801">문서자료실</a>
                                        </li>
                                        <li>
                                            <a href="/board/802">기타자료실</a>
                                        </li>
                                        <li>
                                            <a href="/board/803">주보자료실</a>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 중단(메인) -->
            <div id="main_wrap">
                <div id="mob_menu_wrap" v-bind:class="{mob_menu_on:menu_token}">
                    <div id="mob_menu_close" class="after">
                        <img @click="menuShowHide" src="{% static 'img/mob_menu_close.png' %}">
                    </div>
                    <div id="mob_menu" class="after">
                        <ul id="sub1"{% if  menu_nav == '1' %} class="on"{% endif %}>
                            <h3 @click="submenuShowHide">교회소개<img class="mob_menu_toggle down" src="{% static 'img/cmt_opener.png' %}"></h3>
                            <li>
                                <a href="/board/101">인사말</a>
                            </li>
                            <li>
                                <a href="/board/102">교회연혁</a>
                            </li>
                            <li>
                                <a href="/board/103">우리의 비젼</a>
                            </li>
                            <li>
                                <a href="/board/104">담임목사소개</a>
                            </li>
                            <li>
                                <a href="/board/105">섬기는 사람들</a>
                            </li>
                            <li>
                                <a href="/board/106">찾아오시는 길</a>
                            </li>
                        </ul>
                        <ul id="sub2"{% if  menu_nav == '2' %} class="on"{% endif %}>
                            <h3 @click="submenuShowHide">예배와말씀<img class="mob_menu_toggle down" src="{% static 'img/cmt_opener.png' %}"></h3>
                            <li>
                                <a href="/board/201">금주의 말씀</a>
                            </li>
                            <li>
                                <a href="/board/202">주일오후예배</a>
                            </li>
                            <li>
                                <a href="/board/203">수요예배</a>
                            </li>
                            <li>
                                <a href="/board/204">금요철야예배</a>
                            </li>
                            <li>
                                <a href="/board/205">새벽기도</a>
                            </li>
                            <li>
                                <a href="/board/206">부흥회</a>
                            </li>
                            <li>
                                <a href="/board/207">예배안내</a>
                            </li>
                        </ul>
                        <ul id="sub3"{% if  menu_nav == '3' %} class="on"{% endif %}>
                            <h3 @click="submenuShowHide">찬양과경배<img class="mob_menu_toggle down" src="{% static 'img/cmt_opener.png' %}"></h3>
                            <li>
                                <a href="/board/301">할렐루야 찬양대</a>
                            </li>
                            <li>
                                <a href="/board/302">호산나 찬양대</a>
                            </li>
                            <li>
                                <a href="/board/303">찬양, 간증 집회</a>
                            </li>
                        </ul>
                        <ul id="sub4"{% if  menu_nav == '4' %} class="on"{% endif %}>
                            <h3 @click="submenuShowHide">성도의교제<img class="mob_menu_toggle down" src="{% static 'img/cmt_opener.png' %}"></h3>
                            <li>
                                <a href="/board/401">공지사항</a>
                            </li>
                            <li>
                                <a href="/board/402">교회소식</a>
                            </li>
                            <li>
                                <a href="/board/403">교우소식</a>
                            </li>
                            <li>
                                <a href="/board/404">새가족소개</a>
                            </li>
                            <li>
                                <a href="/board/405">교회앨범</a>
                            </li>
                            <li>
                                <a href="/board/406">자유게시판</a>
                            </li>
                            <li>
                                <a href="/board/407">기도요청</a>
                            </li>
                            <li>
                                <a href="/board/408">행사동영상</a>
                            </li>
                            <li>
                                <a href="/board/409">큐티나눔방</a>
                            </li>
                        </ul>
                        <ul id="sub5"{% if  menu_nav == '5' %} class="on"{% endif %}>
                            <h3 @click="submenuShowHide">커뮤니티<img class="mob_menu_toggle down" src="{% static 'img/cmt_opener.png' %}"></h3>
                            <li>
                                <a href="/board/501">영아부</a>
                            </li>
                            <li>
                                <a href="/board/502">유치부</a>
                            </li>
                            <li>
                                <a href="/board/503">유년부</a>
                            </li>
                            <li>
                                <a href="/board/504">초등부</a>
                            </li>
                            <li>
                                <a href="/board/505">중등부</a>
                            </li>
                            <li>
                                <a href="/board/506">고등부</a>
                            </li>
                            <li>
                                <a href="/board/507">사랑부</a>
                            </li>
                            <li>
                                <a href="/board/508">청년1부</a>
                            </li>
                            <li>
                                <a href="/board/509">청년2부</a>
                            </li>
                            <li>
                                <a href="/board/510">청년3부</a>
                            </li>
                        </ul>
                        <ul id="sub6"{% if  menu_nav == '6' %} class="on"{% endif %}>
                            <h3 @click="submenuShowHide">선교부<img class="mob_menu_toggle down" src="{% static 'img/cmt_opener.png' %}"></h3>
                            <li>
                                <a href="/board/601">선교위원회</a>
                            </li>
                            <li>
                                <a href="/board/602">국내선교</a>
                            </li>
                            <li class="mission">
                                <em @click="missionShowHide">아시아<img src="{% static 'img/up_arrow.png' %}"></em>
                                <ul>
                                    <li>
                                        <a href="/board/603">캄보디아</a>
                                    </li>
                                    <li>
                                        <a href="/board/604">인도</a>
                                    </li>
                                    <li>
                                        <a href="/board/605">일본</a>
                                    </li>
                                    <li>
                                        <a href="/board/606">태국</a>
                                    </li>
                                    <li>
                                        <a href="/board/607">필리핀</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mission">
                                <em @click="missionShowHide">아프리카<img src="{% static 'img/up_arrow.png' %}"></em>
                                <ul>
                                    <li>
                                        <a href="/board/608">이집트</a>
                                    </li> 
                                    <li>
                                        <a href="/board/609">탄자니아</a>
                                    </li>
                                    <li>
                                        <a href="/board/610">카메룬</a>
                                    </li>
                                    <li>
                                        <a href="/board/611">남아공</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mission">
                                <em @click="missionShowHide">기타<img src="{% static 'img/up_arrow.png' %}"></em>
                                <ul>
                                    <li>
                                        <a href="/board/612">러시아</a>
                                    </li>
                                    <li>
                                        <a href="/board/613">볼리비아</a>
                                    </li>
                                    <li>
                                        <a href="/board/614">파푸아뉴기니</a>
                                    </li>
                                    <li>
                                        <a href="/board/615">헝가리</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/board/616">단기선교</a>
                            </li>
                        </ul>
                        <ul id="sub7"{% if  menu_nav == '7' %} class="on"{% endif %}>
                            <h3 @click="submenuShowHide">양육시스템<img class="mob_menu_toggle down" src="{% static 'img/cmt_opener.png' %}"></h3>
                            <li>
                                <a href="/board/701">양육시스템</a>
                            </li>
                            <li>
                                <a href="/board/702">새가족부 자료실</a>
                            </li>
                            <li>
                                <a href="/board/703">확신반 자료실</a>
                            </li>
                        </ul>
                        <ul id="sub8"{% if  menu_nav == '8' %} class="on"{% endif %}>
                            <h3 @click="submenuShowHide">자료실<img class="mob_menu_toggle down" src="{% static 'img/cmt_opener.png' %}"></h3>
                            <li>
                                <a href="/board/801">문서자료실</a>
                            </li>
                            <li>
                                <a href="/board/802">기타자료실</a>
                            </li>
                            <li>
                                <a href="/board/803">주보자료실</a>
                            </li>
                        </ul>
                    </div>
                    <div id="mob_login_wrap">
                        {% if user.is_authenticated %}
                        <div id="mob_user"><a href="#">내 정보</a></div>
                        <div id="mob_login"><a href="/logout?next={{request.path}}">로그아웃</a></div>
                        {% else %}
                        <div id="mob_login"><a href="/login?next={{request.path}}">로그인</a></div>
                        <div id="mob_register"><a href="/register">회원가입</a></div>
                        {% endif %}
                    </div>
                </div>
                {% block content %}
                {% endblock content %}
            </div>
            <!-- 하단 -->
            <div id="footer_wrap" v-bind:class="{mob_menu_on:menu_token}">
                
            </div>
            <div id="modal" :class="{mob_menu_on:menu_token}" @click="menuShowHide"></div>
        </div>
        {% block js %}
        <script type="text/javascript">
        // 댓글화면 Component //
        Vue.component('comment-com', {
            data: function () {
                return {
                    'content' : ''
                }
            },
            props:['comments', 'comment_token'],
            created:function(){
                this.$emit('getcmt');
            },
            methods:{
                // 댓글 등록
                addComment:function(){
                    this.$emit('addcmt', this.content);
                    this.content = ''
                },
                // 댓글 삭제
                deleteComment:function(id){
                    this.$emit('delcmt', id);
                },
                // 댓글 접기/펴기
                commentOpener:function(){
                    this.$emit('cmtopn');
                }
            },
            filters:{
                // 날짜 표시 filter
                dateFilter:function(value){
                    var today = new Date();
                    var month = ((today.getMonth()+1) < 10 ? '0' : '') + (today.getMonth()+1)
                    var year = today.getFullYear()
                    var day = (today.getDate() < 10 ? '0' : '') + today.getDate()
                    today = year + '-' + month + '-' + day
                    //console.log(month);
                    //console.log(today);
                    //console.log(value);
                    if(today==value.split('T')[0]){
                        return value.split('T')[1].split('.')[0];
                    }else if(year==value.split('-')[0]){
                        return value.split('T')[0].slice(5,10);
                    }else{
                        return value.split('T')[0].slice(2,10);
                    }
                }
            }
        });

        // 교회연혁 Component //
        Vue.component('history-com', {
            data:function () {
                return {
                    'decade' : '0'
                }
            },
            props:['history_data'],
            created:function(){
                this.$emit('history');
            },
            methods:{
                history_change:function(decade){
                    this.decade = decade;
                }
            }
        });

        // 섬기는 사람들 Component //
        Vue.component('server-com', {
            props:['server_data'],
            created:function(){
                this.$emit('server')
            },
            filters:{
                // 전화번호 filter
                tpFilter:function(value){
                    var length = value.length;
                    if(length==11){
                        var pattern = /\B(?=(\d{4})+(?!\d))/g
                        value = value.replace(pattern,'-')
                        return value
                    }else{
                        var pattern = /\B(?=(\d{7})+(?!\d))/
                        value = value.replace(pattern,'-')
                        var pattern = /\B(?=(\d{4})+(?!\d))/
                        value = value.replace(pattern,'-')
                        return value
                    }
                    return value
                }
            }
        })

        // 담임목사소개 Component //
        Vue.component('pastol-com',{
            props:['pastol_data'],
            created:function(){
                this.$emit('pastol')
            }
        })

        // 예배안내 Component //
        Vue.component('worship-com',{
            props:['worship_data'],
            created:function(){
                this.$emit('worship')
            }
        })

        // 커뮤니티 Component //
        Vue.component('community-com', {
            props:['community_data'],
            created:function(){
                this.$emit('community');
            }
        })

        // Vue //
        var mob_menu = new Vue({
            el:'#wrap',
            delimiters:['[[',']]'],
            data:{
                menu_token:false,
                comment_data:{
                    comments:'',
                    comment_token:true
                },
                history_data:'',
                server_data:'',
                pastol_data:'',
                worship_data:'',
                community_data:''
            },
            methods:{
                // 모바일 사이드메뉴 methods
                menuShowHide:function(){
                    this.menu_token = !this.menu_token;
                    document.getElementsByTagName("BODY")[0].classList.toggle('mob_menu_on');
                },
                submenuShowHide:function(e){
                    var temp = document.getElementById('mob_menu').getElementsByClassName('show')[0]
                    if(temp && temp != e.currentTarget.parentElement){
                        temp.classList.remove('show')
                    }
                    e.currentTarget.parentElement.classList.toggle('show');
                },
                missionShowHide:function(e){    
                    e.currentTarget.parentElement.classList.toggle('show');
                },
                // 댓글화면 methods
                getComments:function(){
                    var self = this;
                    axios.get('/comments/{{post.id}}')
                    .then(function(response){
                        self.comment_data.comments = response.data;
                        //console.log(this.comments[0].date);
                        //console.log(this.comments);
                    })
                    .catch(function(err){
                        //console.log(err);
                    })
                },
                //댓글 등록 methods
                addComment:function(message){
                    var self = this;
                    var postData = {content:message};
                    console.log(postData);
                    axios.post('/comments/{{post.id}}', postData, {xsrfCookieName: 'csrftoken', xsrfHeaderName: 'X-CSRFToken'})
                    .then(function(response){
                        var str = response.data.split('||')
                        if(str[0]=='true'){
                            self.getComments();
                            document.getElementById('comment_write').value = '';
                            //console.log(response.data);
                            //console.log(this.content);
                        }else{
                            if(str[1]=='redirect'){
                                alert(str[2])
                                location.href=str[3]
                            }else{
                                alert(str[2])
                            }
                        }
                    })
                    .catch(function(err){
                        alert('알수없는 오류가 발생했습니다. 관리자에게 문의해주세요.');
                        //alert(err.data);
                        //console.log(err);
                        //console.log(this.content);
                    })
                },
                // 댓글 삭제 methods
                deleteComment:function(id){
                    var self = this;
                    console.log('delete')
                    if(confirm('삭제하시겠습니까?')){
                        axios.post('/comments/' + id + '/delete', {}, {xsrfCookieName: 'csrftoken', xsrfHeaderName: 'X-CSRFToken'})
                        .then(function(response){
                            var str = response.data.split('||')
                            if(str[0]=='false'){
                                alert(str[1])
                            }else{
                            self.getComments();
                            alert(response.data);
                            }
                        })
                        .catch(function(err){
                            alert('알수없는 오류가 발생했습니다. 관리자에게 문의해주세요.');
                        })
                    }
                },
                // 댓글 접기/펴기 methods
                commentOpener:function(){
                    var token = this.comment_data.comment_token
                    var toggle = document.getElementById('cmt_toggle');
                    if(token){
                        toggle.className = 'up';
                    }else{
                        toggle.className = '';
                    }
                    this.comment_data.comment_token = !this.comment_data.comment_token
                    //console.log(this.comment_token)
                },
                // 교회연혁 표시 methods
                history:function(){
                    var self = this;
                    axios.get('/data/history')
                    .then(function(response){
                        self.history_data = response.data;
                    })
                },
                // 섬기는 사람들 methods
                server:function(){
                    var self = this;
                    axios.get('/data/server')
                    .then(function(response){
                        self.server_data = response.data;
                    })
                },
                // 담임목사소개 methods
                pastol:function(){
                    var self = this;
                    axios.get('/data/pastol')
                    .then(function(response){
                        self.pastol_data = response.data;
                    })
                },
                // 예배안내 methods
                worship:function(){
                    var self = this;
                    axios.get('/data/worship')
                    .then(function(response){
                        self.worship_data = response.data;
                    })
                },
                community:function(){
                    var self = this;
                    axios.get('/data/community/{{pk}}')
                    .then(function(response){
                        self.community_data = response.data;
                    })
                }
            }
        })
        </script>
        <script src="{% static 'js/common.js' %}"></script>
        {% endblock js %}
    </body>
</html>