{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="subject" content="덕천제일교회">
        <meta name="title" content="덕천제일교회">
        <meta name="author" content="덕천제일교회">
        <meta name="description" content="부산시 북구 덕천동 위치, 김대환 담임목사, 예배안내, 설교자료 등 제공">
        <meta name="keywords" content="교회, 덕천동교회, 덕천동 교회, 김대환 목사, 덕천동, 북구">
        <meta name="copyright" content="덕천제일교회">
        <meta property="og:type" content="website">
        <meta property="og:title" content="덕천제일교회">
        <meta property="og:description" content="덕천제일교회에 오신 것을 환영합니다.">
        <meta property="og:image" content="">
        <meta property="og:url" content="http://www.dcjeil.net">
        <title>{% block title %}덕천제일교회-dev{% endblock title %}</title>
        {% block head %}
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
        <script src="{% static 'js/vue.js' %}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://kit.fontawesome.com/41217280d3.js" crossorigin="anonymous"></script>
        {% endblock head %}
    </head>
    <body>
        <div id="wrap">
            <!-- 상단 -->
            <div id="header_wrap" class="after">
                <!-- 최상단 -->
                <div id="top_wrap">
                    <div id="top_frame" class="after">
                        <div id="top_navbar">
                            <ul>
                                {% if user.is_active %}
                                <li>
                                    <a href="/logout?next={{request.path}}">로그아웃</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="/login?next={{request.path}}">로그인</a>
                                </li>
                                </li>
                                <li>
                                    <a href="/register">회원가입</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="/board/207">예배시간</a>
                                </li>
                                <li>
                                    <a href="/board/106">오시는 길</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 메뉴 -->
                <div id="menu_wrap" class="after">
                    <div id="menu_frame" class="after">
                        <div id="top_logo">
                            <a href="/">
                                <img src="{% static 'img/toplogo.png' %}" alt="메인탑로고" width="250px" height="150px">
                            </a>
                        </div>
                        <div id="menu_nav" class="after">
                            <div id="main_menu" class="after">
                                <ul>
                                    <li{% if  menu_nav == '1' %} class="on"{% endif %}>
                                        <a href="/board/101">교회소개</a>
                                    </li>
                                    <li{% if  menu_nav == '2' %} class="on"{% endif %}>
                                        <a href="/board/201">예배와말씀</a>
                                    </li>
                                    <li{% if  menu_nav == '3' %} class="on"{% endif %}>
                                        <a href="/board/301">찬양과경배</a>
                                    </li>
                                    <li{% if  menu_nav == '4' %} class="on"{% endif %}>
                                        <a href="/board/401">성도의교제</a>
                                    </li>
                                    <li{% if  menu_nav == '5' %} class="on"{% endif %}>
                                        <a href="/board/501">커뮤니티</a>
                                    </li>
                                    <li{% if  menu_nav == '6' %} class="on"{% endif %}>
                                        <a href="/board/601">선교부</a>
                                    </li>
                                    <li{% if  menu_nav == '7' %} class="on"{% endif %}>
                                        <a href="/board/701">양육시스템</a>
                                    </li>
                                    <li{% if  menu_nav == '8' %} class="on"{% endif %}>
                                        <a href="/board/801">자료실</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="sub_menu" style="display:none;" class="after">
                                <ul class="sub1">
                                    <li>
                                        <a href="/board/101">인사말</a>
                                    </li>
                                    <li>
                                        <a href="/board/102">교회연혁</a>
                                    </li>
                                    <li>
                                        <a href="/board/103">우리의 비젼</a>
                                    </li>
                                    <li>
                                        <a href="/board/104">담임목사소개</a>
                                    </li>
                                    <li>
                                        <a href="/board/105">섬기는 사람들</a>
                                    </li>
                                    <li>
                                        <a href="/board/106">찾아오시는 길</a>
                                    </li>
                                </ul>
                                <ul class="sub2">
                                    <li>
                                        <a href="/board/201">금주의 말씀</a>
                                    </li>
                                    <li>
                                        <a href="/board/202">주일오후예배</a>
                                    </li>
                                    <li>
                                        <a href="/board/203">수요예배</a>
                                    </li>
                                    <li>
                                        <a href="/board/204">금요철야예배</a>
                                    </li>
                                    <li>
                                        <a href="/board/205">새벽기도</a>
                                    </li>
                                    <li>
                                        <a href="/board/206">부흥회</a>
                                    </li>
                                    <li>
                                        <a href="/board/207">예배안내</a>
                                    </li>
                                </ul>
                                <ul class="sub3">
                                        <li>
                                            <a href="/board/301">할렐루야 찬양대</a>
                                        </li>
                                        <li>
                                            <a href="/board/302">호산나 찬양대</a>
                                        </li>
                                        <li>
                                            <a href="/board/303">찬양, 간증 집회</a>
                                        </li>
                                </ul>
                                <ul class="sub4">
                                        <li>
                                            <a href="/board/401">공지사항</a>
                                        </li>
                                        <li>
                                            <a href="/board/402">교회소식</a>
                                        </li>
                                        <li>
                                            <a href="/board/403">교우소식</a>
                                        </li>
                                        <li>
                                            <a href="/board/404">새가족소개</a>
                                        </li>
                                        <li>
                                            <a href="/board/405">교회앨범</a>
                                        </li>
                                        <li>
                                            <a href="/board/406">자유게시판</a>
                                        </li>
                                        <li>
                                            <a href="/board/407">기도요청</a>
                                        </li>
                                        <li>
                                            <a href="/board/408">행사동영상</a>
                                        </li>
                                        <li>
                                            <a href="/board/409">큐티나눔방</a>
                                        </li>
                                </ul>
                                <ul class="sub5">
                                        <li>
                                            <a href="/board/501">영아부</a>
                                        </li>
                                        <li>
                                            <a href="/board/502">유치부</a>
                                        </li>
                                        <li>
                                            <a href="/board/503">유년부</a>
                                        </li>
                                        <li>
                                            <a href="/board/504">초등부</a>
                                        </li>
                                        <li>
                                            <a href="/board/505">중등부</a>
                                        </li>
                                        <li>
                                            <a href="/board/506">고등부</a>
                                        </li>
                                        <li>
                                            <a href="/board/507">사랑부</a>
                                        </li>
                                        <li>
                                            <a href="/board/508">청년1부</a>
                                        </li>
                                        <li>
                                            <a href="/board/509">청년2부</a>
                                        </li>
                                        <li>
                                            <a href="/board/510">청년3부</a>
                                        </li>
                                        <li>
                                            <a href="/board/511">어린이집</a>
                                        </li>
                                </ul>
                                <ul class="sub6">
                                        <li>
                                            <a href="/board/601">선교위원회</a>
                                        </li>
                                        <li>
                                            <a href="/board/602">국내선교</a>
                                        </li>
                                        <li class="mission">
                                            <a href="/board/603">아시아　　▶</a>
                                            <ul style="display:none;">
                                                <li>
                                                    <a href="/board/603">캄보디아</a>
                                                </li>
                                                <li>
                                                    <a href="/board/604">인도</a>
                                                </li>
                                                <li>
                                                    <a href="/board/605">일본</a>
                                                </li>
                                                <li>
                                                    <a href="/board/606">태국</a>
                                                </li>
                                                <li>
                                                    <a href="/board/607">필리핀</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mission">
                                            <a href="/board/608">아프리카　▶</a>
                                            <ul style="display:none;">
                                                <li>
                                                    <a href="/board/608">이집트</a>
                                                </li> 
                                                <li>
                                                    <a href="/board/609">탄자니아</a>
                                                </li>
                                                <li>
                                                    <a href="/board/610">카메룬</a>
                                                </li>
                                                <li>
                                                    <a href="/board/611">남아공</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mission">
                                            <a href="/board/612">기타　　　▶</a>
                                            <ul style="display:none;">
                                                <li>
                                                    <a href="/board/612">러시아</a>
                                                </li>
                                                <li>
                                                    <a href="/board/613">볼리비아</a>
                                                </li>
                                                <li>
                                                    <a href="/board/614">파푸아뉴기니</a>
                                                </li>
                                                <li>
                                                    <a href="/board/615">헝가리</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/board/616">단기선교</a>
                                        </li>
                                </ul>
                                <ul class="sub7">
                                        <li>
                                            <a href="/board/701">양육시스템</a>
                                        </li>
                                        <li>
                                            <a href="/board/702">새가족부 자료실</a>
                                        </li>
                                        <li>
                                            <a href="/board/703">확신반 자료실</a>
                                        </li>
                                </ul>
                                <ul class="sub8">
                                        <li>
                                            <a href="/board/801">문서자료실</a>
                                        </li>
                                        <li>
                                            <a href="/board/802">기타자료실</a>
                                        </li>
                                        <li>
                                            <a href="/board/803">주보자료실</a>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 중단(메인) -->
            <div id="main_wrap" class="after">
                {% block content %}
                {% endblock content %}
            </div>
            <!-- 하단 -->
            <div id="footer_wrap">
                
            </div>
        </div>
        {% block js %}
        {% endblock js %}
    </body>
</html>