{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock head %}
{% block content %}
<div id="header_mob">
    <div id="mob_menu_btn">
        <img @click="menuShowHide" src="{% static 'img/mob_menu.png' %}">
    </div>
    <div id="mob_logo">
        <a href="/">
            <img src="{% static 'img/new_logo.png' %}" alt="top_logo" width="180px" height="auto">
        </a>
    </div>
</div>
<div id="home_wrap" class="after" v-bind:class="{mob_menu_on:menu_token}">
    <div id="main_left">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
            <div class="carousel-inner">
                {% for carousel in carousel_list %}
                <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                    <img class="d-block w-100" src="{{carousel.image.url}}" width="400px" height="798px" alt="{{carousel.title}}">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="main_right">
        <div id="maintabevent">
            <div id="tabbtnlist">
                <div id="tabbtn_01" class="tabbtn active">금주의 말씀</div>
                <div id="tabbtn_02" class="tabbtn">찬양대</div>
                <div id="tabbtn_03" class="tabbtn">새벽기도</div>
            </div>
            <div id="tabevent_inner">
                <div id="tabevent_01" class="tab_item active" title="{{tab1.title}}">
                    <a href="{{tab1.get_absolute_url}}">
                        <img src="" height="100%" width="100%" alt="Tab Event_01">
                        <div class="container">
                            <p class="tab_title">{{tab1.title}}</p>
                            <p class="tab_date">{{tab1.date|date:"Y-m-d"}}</p>
                            <p class="tab_words">{{tab1.words}}</p>
                        </div>
                    </a>
                </div>
                <div id="tabevent_02" class="tab_item" title="{{tab2.title}}">
                    <a href="{{tab2.get_absolute_url}}">
                        <img src="" height="100%" width="100%" alt="Tab Event_02">
                        <div class="container">
                            <p class="tab_title">{{tab2.title}}</p>
                            <p class="tab_date">{{tab2.date|date:"Y-m-d"}}</p>
                        </div>
                    </a>
                </div>
                <div id="tabevent_03" class="tab_item" title="{{tab3.title}}">
                    <a href="{{tab3.get_absolute_url}}">
                        <img src="" height="100%" width="100%" alt="Tab Event_03">
                        <div class="container">
                            <p class="tab_title">{{tab3.title}}</p>
                            <p class="tab_date">{{tab3.date|date:"Y-m-d"}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% load board_tag %}
        <div id="maingrid">
            <div id="main_recent" class="listbox">
                <p class="after">최근게시글</p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in recent %}
                    <li>
                        <a href="{{post.get_absolute_url}}">[{{post.get_div_display}}] {{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                        <span class="date"><!--
                            -->{% if todays_date == post.upload_date|date:"y-m-d" %}<!--
                            -->{{ post.upload_date|date:"H:i" }}<!--
                            -->{% elif this_year == post.upload_date|date:"y" %}<!--
                            -->{{ post.upload_date|date:"m-d"}}<!--
                            -->{% else %}<!--
                            -->{{ post.upload_date|date:"y-m-d" }}<!--
                            -->{% endif %}<!--
                        --></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main1" class="listbox">
                <p class="after">공지사항<a href="board/401">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main1 %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                        <span class="date"><!--
                            -->{% if todays_date == post.upload_date|date:"y-m-d" %}<!--
                            -->{{ post.upload_date|date:"H:i" }}<!--
                            -->{% elif this_year == post.upload_date|date:"y" %}<!--
                            -->{{ post.upload_date|date:"m-d"}}<!--
                            -->{% else %}<!--
                            -->{{ post.upload_date|date:"y-m-d" }}<!--
                            -->{% endif %}<!--
                        --></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main2" class="listbox">
                <p class="after">교회소식<a href="board/402">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main2 %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                        <span class="date"><!--
                            -->{% if todays_date == post.upload_date|date:"y-m-d" %}<!--
                            -->{{ post.upload_date|date:"H:i" }}<!--
                            -->{% elif this_year == post.upload_date|date:"y" %}<!--
                            -->{{ post.upload_date|date:"m-d"}}<!--
                            -->{% else %}<!--
                            -->{{ post.upload_date|date:"y-m-d" }}<!--
                            -->{% endif %}<!--
                        --></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main3" class="listbox">
                <p class="after">교우소식<a href="board/403">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main3 %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                        <span class="date"><!--
                            -->{% if todays_date == post.upload_date|date:"y-m-d" %}<!--
                            -->{{ post.upload_date|date:"H:i" }}<!--
                            -->{% elif this_year == post.upload_date|date:"y" %}<!--
                            -->{{ post.upload_date|date:"m-d"}}<!--
                            -->{% else %}<!--
                            -->{{ post.upload_date|date:"y-m-d" }}<!--
                            -->{% endif %}<!--
                        --></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main_mob" class="listbox">
                <a href="/board/103" class="container">
                    <img src="{% static 'img/vision.png' %}">
                    <p>교회비전</p>
                </a>
                <a href="/board/207" class="container">
                    <img src="{% static 'img/clock.png' %}">
                    <p>예배시간</p>
                </a>
                <a href="/board/106" class="container">
                    <img src="{% static 'img/location.png' %}">
                    <p>오시는 길</p>
                </a>
                <a href="/board/803" class="container">
                    <img src="{% static 'img/weekly.png' %}">
                    <p>주보게시판</p>
                </a>
                <div></div>
            </div>
            <div id="main5" class="listbox">
                <p class="after">기도요청<a href="board/407">더보기</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main5 %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                        <span class="date"><!--
                            -->{% if todays_date == post.upload_date|date:"y-m-d" %}<!--
                            -->{{ post.upload_date|date:"H:i" }}<!--
                            -->{% elif this_year == post.upload_date|date:"y" %}<!--
                            -->{{ post.upload_date|date:"m-d"}}<!--
                            -->{% else %}<!--
                            -->{{ post.upload_date|date:"y-m-d" }}<!--
                            -->{% endif %}<!--
                        --></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main6" class="listbox">
                <p class="after">선교지소식<a href="board/601">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main6 %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                        <span class="date"><!--
                            -->{% if todays_date == post.upload_date|date:"y-m-d" %}<!--
                            -->{{ post.upload_date|date:"H:i" }}<!--
                            -->{% elif this_year == post.upload_date|date:"y" %}<!--
                            -->{{ post.upload_date|date:"m-d"}}<!--
                            -->{% else %}<!--
                            -->{{ post.upload_date|date:"y-m-d" }}<!--
                            -->{% endif %}<!--
                        --></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="main_photo" class="after">
        <p>교회 앨범<a href="/board/405">더보기 +</a></p>
        <div id="photowrap">
            {% for post in photo %}
            <div class="photobox">
                <a href="{{post.get_absolute_url}}">
                    <div class="photo">
                        <img src="{{ post.image }}" alt="photo" width="100%" height="150px">
                    </div>
                    <p>{{post.title}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(".tabbtn").click(function(e){
        var no = $(e.currentTarget).attr("id").split("_")[1]
        var tabitem = $("#tabevent_"+no)
        var tabitem_bef = tabitem.siblings(".tab_item.active")
        $(e.currentTarget).addClass("active")
        $(e.currentTarget).siblings(".tabbtn").removeClass("active")
        tabitem.addClass("active");
        tabitem_bef.removeClass("active")
    })
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock js %}