{% extends "base.html" %}
{% load static %}
{% load board_tag %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
{% endblock head %}
{% block content %}
<div id="header_mob">
    <div id="mob_menu_btn">
        <img @click="menuShowHide" src="{% static 'img/mob_menu.png' %}">
    </div>
    <div id="mob_logo">
        <a href="/">
            <img src="{% static 'img/new_logo.png' %}" alt="top_logo" width="180px" height="auto">
        </a>
    </div>
</div>
<div id="home_wrap" class="after" v-bind:class="{mob_menu_on:menu_token}">
    <div id="main_left">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
            <div class="carousel-inner">
                {% for carousel in carousel_list %}
                <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                    {% if carousel.link %}
                    <a href="{{carousel.link}}" target="_blank">
                        <img class="d-block w-100" src="{{carousel.image.url}}" width="100%" height="800px" alt="{{carousel.title}}">
                    </a>
                    {% else %}
                    <img class="d-block w-100" src="{{carousel.image.url}}" width="100%" height="800px" alt="{{carousel.title}}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="main_right">
        <div id="maintabevent">
            <div id="tabbtnlist">
                <div id="tabbtn_01" class="tabbtn active" onclick="tabEvent(event)">예배와말씀</div>
                <div id="tabbtn_02" class="tabbtn" onclick="tabEvent(event)">찬양과경배</div>
            </div>
            <div id="tabevent_inner">
                <div id="tabevent_01" class="tab_item active" title="{{tab1.title}}">
                    <a href="{{tab1.get_absolute_url}}">
                        <img class="worship" src="{{ tab1.video|thumbnail }}" height="100%" alt="Tab Event_01">
                        <div class="container worship">
                            <p class="tab_title">{{tab1.title}}</p>
                            <p class="tab_words">{{tab1.words}}</p>
                            <p class="tab_date">{{tab1.date|date:"Y-m-d"}}</p>
                        </div>
                    </a>
                </div>
                <div id="tabevent_02" class="tab_item" title="{{tab2.title}}">
                    <a href="{{tab2.get_absolute_url}}">
                        <img class="praise" src="{% static 'img/home_worship.png' %}" height="100%" alt="Tab Event_02">
                        <div class="container praise">
                            <p class="tab_title">{{tab2.title}}</p>
                            <p class="tab_date">{{tab2.date|date:"Y-m-d"}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="maingrid">
            <div id="main_recent" class="listbox">
                <p class="after">최근게시글</p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main_recent %}
                    <li>
                        <a href="{{post.get_absolute_url}}">[{{post.div.name}}{% if post.tag %}<em>-{{post.tag}}</em>{% endif %}] {% if post.date %}{{post.date|date:"Y-m-d"}} {% endif %}{{post.title}}{% if post.preacher %} - {{post.preacher}}{% endif %}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% for query in main_menu_set %}
            <div id="main{{ forloop.counter }}" class="listbox">
                <p class="after">{{query.name}}<a href="{{query.get_absolute_url}}">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% with post_list=query|get_query_home %}
                    {% for post in post_list %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{% if post.tag %}[{{post.tag}}]{% endif %}{% if post.date %}{{post.date|date:"Y-m-d"}} {% endif %}{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% endwith %}
                </ul>
            </div>
            {% endfor %}
            <div id="main3" class="link community">
                <p class="title"><i class="fab fa-youtube"></i>Youtube</p>
                <ul>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCZYQiJFdOTlQ6jnoif2kPQQ">덕천제일교회</a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCT8m6L4AA8TgmL3lXr5-hOA">덕천제일교회 청년부</a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCI8e7JChtiXoFmB12gsQQTA">덕천제일교회 다음세대</a></li>
                </ul>
            </div>
            <div id="main4" class="link worship">
                <a href="/board/207"><img src="{% static 'img/worship_home.png' %}" width="100%" height="100%"></a>
            </div>
        </div>
    </div>
    <div id="main_bottom">
        <div id="main_photo" class="after">
            <p>{{photo_menu.name}}<a href="{{photo_menu.get_absolute_url}}">더보기 +</a></p>
            <div id="photowrap">
                {% for post in photo_menu|get_query_home %}
                <div class="photobox">
                    <a href="{{post.get_absolute_url}}">
                        <div class="photo">
                            <img src="{{ post.image }}" alt="photo">
                        </div>
                        <p>{{post.title}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="way_to">
            <div id="map"></div>
            <div class="map_desc">
                <div class="container">
                    <img src="{% static 'img/map_home.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    {% if popup_list %}
        document.addEventListener("DOMContentLoaded", function(){
            let wrap = document.querySelector("#popup_wrap")
            let top;
            let left;
            {% for popup in popup_list %}
            top = "{{popup.location}}".split("/")[1]
            left = "{{popup.location}}".split("/")[0]
            wrap.innerHTML += '<div class="container popup{{popup.id}}" style="top:' + top + 'px; left:' + left + 'px;"><img src="{{popup.image.url}}"\
            {% if popup.link %}style="cursor:pointer;" onclick="popupLink(' + "'{{popup.link}}'" + '){% endif %}"><div class="pop_close_box"><label class="pop_never_chk_wrap">\
            <input class="pop_never_chk_{{popup.id}}" type="checkbox">24시간 동안 창을 띄우지 않음.</label>\
            <div class="pop_close_btn" onclick="popupClose({{popup.id}})">닫기</div></div></div>'
            {% endfor %}
        })

        function popupLink(link){
            window.open(link);
        }

        function popupClose(id){
            let is_pop_never_check = document.querySelector('.pop_never_chk_'+id).checked;
            console.log(is_pop_never_check);
            if(is_pop_never_check){
                setPopupCookie('popup', id);
                console.log('1')
            }
            $('.popup' + id).remove();
        }
    {% endif %}
        function tabEvent(e){
            let no = $(e.currentTarget).attr("id").split("_")[1]
            console.log(no)
            let tabitem = $("#tabevent_"+no)
            console.log(tabitem)
            let tabitem_bef = tabitem.siblings(".tab_item.active")
            console.log(tabitem_bef)
            $(e.currentTarget).addClass("active")
            $(e.currentTarget).siblings(".tabbtn").removeClass("active")
            tabitem.addClass("active");
            tabitem_bef.removeClass("active")
        }
</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=085c70d50f6f67acd43809e58b2a6cb6"></script>
<script>
    var container = document.querySelector('#map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(35.21276502792265, 129.02208208012863), //지도의 중심좌표.
        level: 4 //지도의 레벨(확대, 축소 정도)
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
    
    var imageSrc = "{% static 'img/map_marker.png' %}", // 마커이미지의 주소입니다    
    imageSize = new kakao.maps.Size(65, 80), // 마커이미지의 크기입니다
    imageOption = {offset: new kakao.maps.Point(32.5, 77.5)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
      
    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        markerPosition = new kakao.maps.LatLng(35.21276502792265, 129.02208208012863); // 마커가 표시될 위치입니다

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition, 
        image: markerImage // 마커이미지 설정 
    });

    // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
    var mapTypeControl = new kakao.maps.MapTypeControl();

    // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
    // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPLEFT);

    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
    map.setZoomable(false);
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock js %}