{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
{% endblock head %}
{% block content %}
<div id="header_mob">
    <div id="mob_menu_btn">
        <img @click="menuShowHide" src="{% static 'img/mob_menu.png' %}">
    </div>
    <div id="mob_logo">
        <a href="/">
            <img src="{% static 'img/new_logo.png' %}" alt="top_logo" width="180px" height="auto">
        </a>
    </div>
</div>
<div id="home_wrap" class="after" v-bind:class="{mob_menu_on:menu_token}">
    <div id="main_left">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
            <div class="carousel-inner">
                {% for carousel in carousel_list %}
                <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                    <img class="d-block w-100" src="{{carousel.image.url}}" width="100%" height="800px" alt="{{carousel.title}}">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="main_right">
        <div id="maintabevent">
            <div id="tabbtnlist">
                <div id="tabbtn_01" class="tabbtn active" onclick="tabEvent(event)">예배와말씀</div>
                <div id="tabbtn_02" class="tabbtn" onclick="tabEvent(event)">찬양과경배</div>
            </div>
            <div id="tabevent_inner">
                <div id="tabevent_01" class="tab_item active" title="{{tab1.title}}">
                    <a href="{{tab1.get_absolute_url}}">
                        <img src="" height="100%" width="100%" alt="Tab Event_01">
                        <div class="container">
                            <p class="tab_title">{{tab1.title}}</p>
                            <p class="tab_date">{{tab1.date|date:"Y-m-d"}}</p>
                            <p class="tab_words">{{tab1.words}}</p>
                        </div>
                    </a>
                </div>
                <div id="tabevent_02" class="tab_item" title="{{tab2.title}}">
                    <a href="{{tab2.get_absolute_url}}">
                        <img src="{% static 'img/home_worship.png' %}" height="100%" width="100%" alt="Tab Event_02">
                        <div class="container">
                            <p class="tab_title">{{tab2.title}}</p>
                            <p class="tab_date">{{tab2.date|date:"Y-m-d"}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% load board_tag %}
        <div id="maingrid">
            <div id="main1" class="listbox">
                <p class="after">최근게시글</p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main1 %}
                    <li>
                        <a href="{{post.get_absolute_url}}">[{{post.div.name}}{% if post.tag %}<em>-{{post.tag}}</em>{% endif %}] {% if post.date %}{{post.date|date:"Y-m-d"}} {% endif %}{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main2" class="listbox">
                <p class="after">{{main2_menu.name}}<a href="{{main2_menu.get_absolute_url}}">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main2_menu|get_query_home %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{% if post.tag %}[{{post.tag}}]{% endif %}{% if post.date %}{{post.date|date:"Y-m-d"}} {% endif %}{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main3" class="listbox">
                <p class="after">{{main3_menu.name}}<a href="{{main3_menu.get_absolute_url}}">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main3_menu|get_query_home %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{% if post.tag %}[{{post.tag}}]{% endif %}{% if post.date %}{{post.date|date:"Y-m-d"}} {% endif %}{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main_mob" class="listbox">
                <a href="/board/103" class="container">
                    <img src="{% static 'img/vision.png' %}">
                    <p>교회비전</p>
                </a>
                <a href="/board/207" class="container">
                    <img src="{% static 'img/clock.png' %}">
                    <p>예배시간</p>
                </a>
                <a href="/board/106" class="container">
                    <img src="{% static 'img/location.png' %}">
                    <p>오시는 길</p>
                </a>
                <a href="/board/803" class="container">
                    <img src="{% static 'img/weekly.png' %}">
                    <p>주보게시판</p>
                </a>
                <div></div>
            </div>
            <div id="main5" class="listbox">
                <p class="after">{{main5_menu.name}}<a href="{{main5_menu.get_absolute_url}}">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main5_menu|get_query_home %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{% if post.tag %}[{{post.tag}}]{% endif %}{% if post.date %}{{post.date|date:"Y-m-d"}} {% endif %}{{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main6" class="listbox">
                <p class="after">{{main6_menu.name}}<a href="{{main6_menu.get_absolute_url}}">더보기 +</a></p>
                <ul>
                    {% now "y-m-d" as todays_date %}
                    {% now "y" as this_year %}
                    {% for post in main6_menu|get_query_home %}
                    <li>
                        <a href="{{post.get_absolute_url}}">{% if post.tag %}[{{post.tag}}]{% endif %}{% if post.date %}{{post.date|date:"Y-m-d"}}{% endif %} {{post.title}}</a>
                        {% if post.upload_date|post_new %}
                        <span>
                            <img class="icon" src="{% static 'img/newicon.png' %}" height="16px">
                        </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="main_photo" class="after">
        <p>{{photo_menu.name}}<a href="{{photo_menu.get_absolute_url}}">더보기 +</a></p>
        <div id="photowrap">
            {% for post in photo_menu|get_query_home %}
            <div class="photobox">
                <a href="{{post.get_absolute_url}}">
                    <div class="photo">
                        <img src="{{ post.image }}" alt="photo" width="100%" height="150px">
                    </div>
                    <p>{{post.title}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
{% if popup_list %}
    document.addEventListener("DOMContentLoaded", function(){
        let wrap = document.querySelector("#popup_wrap")
        let top;
        let left;
        {% for popup in popup_list %}
        top = "{{popup.location}}".split("/")[1]
        left = "{{popup.location}}".split("/")[0]
        wrap.innerHTML += "<div class='container popup{{popup.id}}' style='top:" + top + "px; left:" + left + "px;'><img src='{{popup.image.url}}''>\
        <div class='pop_close_box'><label class='pop_never_chk_wrap'>\
        <input class='pop_never_chk_{{popup.id}}' type='checkbox'>24시간 동안 창을 띄우지 않음.</label>\
        <div class='pop_close_btn' onclick='popupClose({{popup.id}})'>닫기</div></div></div>"
        {% endfor %}
    })

    function popupClose(id){
        let is_pop_never_check = document.querySelector('.pop_never_chk_'+id).checked;
        console.log(is_pop_never_check);
        if(is_pop_never_check){
            setPopupCookie('popup', id);
            console.log('1')
        }
        document.querySelector('.popup' + id).remove();
    }
{% endif %}
    function tabEvent(e){
        let no = $(e.currentTarget).attr("id").split("_")[1]
        console.log(no)
        let tabitem = $("#tabevent_"+no)
        console.log(tabitem)
        let tabitem_bef = tabitem.siblings(".tab_item.active")
        console.log(tabitem_bef)
        $(e.currentTarget).addClass("active")
        $(e.currentTarget).siblings(".tabbtn").removeClass("active")
        tabitem.addClass("active");
        tabitem_bef.removeClass("active")
    }
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock js %}