<div id="side_title">성도의 교제
</div>
<div id="side_nav">
    <ul>
        <li{% if menu_no == '01' %} class="on"{% endif %}>
            <a href="/board/401">공지사항</a>
        </li>
        <li{% if menu_no == '02' %} class="on"{% endif %}>
            <a href="/board/402">교회소식</a>
        </li>
        <li{% if menu_no == '03' %} class="on"{% endif %}>
            <a href="/board/403">교우소식</a>
        </li>
        <li{% if menu_no == '04' %} class="on"{% endif %}>
            <a href="/board/404">새가족소개</a>
        </li>
        <li{% if menu_no == '05' %} class="on"{% endif %}>
            <a href="/board/405">교회앨범</a>
        </li>
        <li{% if menu_no == '06' %} class="on"{% endif %}>
            <a href="/board/406">자유게시판</a>
        </li>
        <li{% if menu_no == '07' %} class="on"{% endif %}>
            <a href="/board/407">기도요청</a>
        </li>
        <li{% if menu_no == '08' %} class="on"{% endif %}>
            <a href="/board/408">행사동영상</a>
        </li>
        <li{% if menu_no == '09' %} class="on"{% endif %}>
            <a href="/board/409">큐티나눔방</a>
        </li>
    </ul>
</div>