<div id="side_title">예배와 말씀
</div>
<div id="side_nav">
    <ul>
        <li{% if menu_no == '01' %} class="on"{% endif %}>
            <a href="/board/201">금주의 말씀</a>
        </li>
        <li{% if menu_no == '02' %} class="on"{% endif %}>
            <a href="/board/202">주일오후예배</a>
        </li>
        <li{% if menu_no == '03' %} class="on"{% endif %}>
            <a href="/board/203">수요예배</a>
        </li>
        <li{% if menu_no == '04' %} class="on"{% endif %}>
            <a href="/board/204">금요철야예배</a>
        </li>
        <li{% if menu_no == '05' %} class="on"{% endif %}>
            <a href="/board/205">새벽기도</a>
        </li>
        <li{% if menu_no == '06' %} class="on"{% endif %}>
            <a href="/board/206">부흥회</a>
        </li>
        <li{% if menu_no == '07' %} class="on"{% endif %}>
            <a href="/board/207">예배안내</a>
        </li>
    </ul>
</div>