<div id="side_title">커뮤니티
</div>
<div id="side_nav">
    <ul>
        <li{% if menu_no == '01' %} class="on"{% endif %}>
            <a href="/board/501">영아부</a>
        </li>
        <li{% if menu_no == '02' %} class="on"{% endif %}>
            <a href="/board/502">유치부</a>
        </li>
        <li{% if menu_no == '03' %} class="on"{% endif %}>
            <a href="/board/503">유년부</a>
        </li>
        <li{% if menu_no == '04' %} class="on"{% endif %}>
            <a href="/board/504">초등부</a>
        </li>
        <li{% if menu_no == '05' %} class="on"{% endif %}>
            <a href="/board/505">중등부</a>
        </li>
        <li{% if menu_no == '06' %} class="on"{% endif %}>
            <a href="/board/506">고등부</a>
        </li>
        <li{% if menu_no == '07' %} class="on"{% endif %}>
            <a href="/board/507">사랑부</a>
        </li>
        <li{% if menu_no == '08' %} class="on"{% endif %}>
            <a href="/board/508">청년1부</a>
        </li>
        <li{% if menu_no == '09' %} class="on"{% endif %}>
            <a href="/board/509">청년2부</a>
        </li>
        <li{% if menu_no == '10' %} class="on"{% endif %}>
            <a href="/board/510">청년3부</a>
        </li>
    </ul>
</div>