<div id="side_title">교회 소개
</div>
<div id="side_nav">
    <ul>
        <li{% if menu_no == '01' %} class="on"{% endif %}>
            <a href="/board/101">인사말</a>
        </li>
        <li{% if menu_no == '02' %} class="on"{% endif %}>
            <a href="/board/102">교회연혁</a>
        </li>
        <li{% if menu_no == '03' %} class="on"{% endif %}>
            <a href="/board/103">우리의 비젼</a>
        </li>
        <li{% if menu_no == '04' %} class="on"{% endif %}>
            <a href="/board/104">담임목사소개</a>
        </li>
        <li{% if menu_no == '05' %} class="on"{% endif %}>
            <a href="/board/105">섬기는 사람들</a>
        </li>
        <li{% if menu_no == '06' %} class="on"{% endif %}>
            <a href="/board/106">찾아오시는 길</a>
        </li>
    </ul>
</div>